<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.emall.dao.ProductCommentDao" >
    
    <resultMap id="BaseComment" type="com.tangmo.emall.entity.ProductComment">
        <id column="comment_id" property="commentId" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="img_id" property="imgId" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="comment_star" property="commentStar" jdbcType="TINYINT" />
        <result column="audit_status" property="auditStatus" jdbcType="TINYINT" />
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
        <result column="upvote_num" property="upvoteNum" jdbcType="INTEGER" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List">
        comment_id,content,img_id,product_id,order_id,user_id,comment_star,
        audit_status,audit_time,upvote_num,created_time
    </sql>


</mapper>