<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.AnalysisMapper">

    <select id="getOrderCountByCar" resultType="java.util.Map">
        select tdv.driver_userid driverId,tdv.car_type carType,tdv.car_number carNumber,
        tdv.phone driverPhone,tdv.driver_name driverName,count(tmp.driver_id) orderCount
        from tb_driver_verify tdv
        left join (
        select tdo.driver_id from tb_driver_order tdo
        where tdo.driver_order_state = '1' and tdo.flag = '0' and tdo.tb_parm_id = '1018'
        <if test="startDate != null and startDate !=''">
            and DATE_FORMAT(tdo.create_time, #{dateFormat}) >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE_FORMAT(tdo.create_time, #{dateFormat}) &lt;= #{endDate}
        </if>
        <if test="carNumber != null and carNumber != ''">
            and tdv.car_number = #{carNumber}
        </if>
        <if test="driverPhone != null and driverPhone != ''">
            and tdv.phone = #{driverPhone}
        </if>
        ) tmp
        on tdv.driver_userid = tmp.driver_id
        where tdv.car_type = '1018'
        GROUP BY tdv.car_number
    </select>

    <select id="getTotalKmByCar" resultType="java.util.Map">
        select tdv.driver_userid driverId,tdv.car_type carType,tdv.car_number carNumber,
        tdv.phone driverPhone,tdv.driver_name driverName,COALESCE(sum(tmp.km),0) totalKm
        from tb_driver_verify tdv
        left join (
        select tpo.km,tdo.driver_id from tb_driver_order tdo
        left join tb_passenger_order tpo
        on tdo.passenger_order_code = tpo.order_code
        where tpo.order_state = '2' and tpo.flag = '0'
        and tdo.driver_order_state = '1' and tdo.flag = '0' and tdo.tb_parm_id = '1018'
        <if test="startDate != null and startDate !=''">
            and DATE_FORMAT(tdo.create_time, #{dateFormat}) >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE_FORMAT(tdo.create_time, #{dateFormat}) &lt;= #{endDate}
        </if>
        ) tmp
        on tdv.driver_userid = tmp.driver_id
        where tdv.car_type = '1018'
        <if test="carNumber != null and carNumber != ''">
            and tdv.car_number = #{carNumber}
        </if>
        <if test="driverPhone != null and driverPhone != ''">
            and tdv.phone = #{driverPhone}
        </if>
        GROUP BY tdv.car_number
    </select>
</mapper>