<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.AnalysisMapper">

    <select id="getOrderCountByCar" resultType="java.util.Map">
        select tdv.driver_userid driverId,tdv.car_type carType,tdv.car_number carNumber,
        tdv.phone driverPhone,tdv.driver_name driverName,count(tmp.driver_id) orderCount
        from tb_driver_verify tdv
        left join (
        select tdo.driver_id from tb_driver_order tdo
        left join tb_passenger_order tpo                    -- 系统验收因为不断假数据问题原因，时间区间暂时根据乘客订单时间查询
        on tdo.passenger_order_code = tpo.order_code        -- 正式上线在真实数据下将 不需要这里的 left join 这几句, 时间区间根据司机订单时间查询
        where tdo.driver_order_state = '1' and tdo.flag = '0' and tdo.tb_parm_id = '1018'
        <choose>
            <when test="startDate != null and startDate !='' and (endDate == null or endDate = '')">
                and DATE_FORMAT(tpo.creat_time, #{dateFormat}) = #{startDate}       -- 正式上线在真实数据下将 tpo.creat_time 改为 tdo.create_time
            </when>
            <otherwise>
                <if test = "startDate != null and startDate !=''">
                    and DATE_FORMAT(tpo.creat_time, #{dateFormat}) >= #{startDate}
                </if>
            </otherwise>
        </choose>
        <if test="endDate != null and endDate != ''">
            and DATE_FORMAT(tpo.creat_time, #{dateFormat}) &lt;= #{endDate}
        </if>
        <if test="carNumber != null and carNumber != ''">
            and tdv.car_number = #{carNumber}
        </if>
        <if test="driverPhone != null and driverPhone != ''">
            and tdv.phone = #{driverPhone}
        </if>
        ) tmp
        on tdv.driver_userid = tmp.driver_id
        where tdv.car_type = '1018'
        GROUP BY tdv.car_number
    </select>

    <select id="getTotalKmByCar" resultType="java.util.Map">
        select tdv.driver_userid driverId,tdv.car_type carType,tdv.car_number carNumber,
        tdv.phone driverPhone,tdv.driver_name driverName,COALESCE(sum(tmp.km),0) totalKm
        from tb_driver_verify tdv
        left join (
        select tpo.km,tdo.driver_id from tb_driver_order tdo
        left join tb_passenger_order tpo
        on tdo.passenger_order_code = tpo.order_code
        where tpo.order_state = '2' and tpo.flag = '0'
        and tdo.driver_order_state = '1' and tdo.flag = '0' and tdo.tb_parm_id = '1018'
        <choose>
            <when test="startDate != null and startDate !='' and (endDate == null or endDate = '')">    -- 兼容精确查询
                and DATE_FORMAT(tpo.creat_time, #{dateFormat}) = #{startDate}          -- 正式上线在真实数据下将 tpo.creat_time 改为 tdo.create_time
            </when>
            <otherwise>
                <if test = "startDate != null and startDate !=''">
                    and DATE_FORMAT(tpo.creat_time, #{dateFormat}) >= #{startDate}
                </if>
            </otherwise>
        </choose>
        <if test="endDate != null and endDate != ''">
            and DATE_FORMAT(tpo.creat_time, #{dateFormat}) &lt;= #{endDate}
        </if>
        ) tmp
        on tdv.driver_userid = tmp.driver_id
        where tdv.car_type = '1018'
        <if test="carNumber != null and carNumber != ''">
            and tdv.car_number = #{carNumber}
        </if>
        <if test="driverPhone != null and driverPhone != ''">
            and tdv.phone = #{driverPhone}
        </if>
        GROUP BY tdv.car_number
    </select>
</mapper>