<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbBusMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbBus">
        <!--
          列匹配实体属性
        -->
        <id column="bus_id" property="busId" jdbcType="VARCHAR"/>
        <result column="bus_code" property="busCode" jdbcType="VARCHAR"/>
        <result column="bus_name" property="busName" jdbcType="VARCHAR"/>
        <result column="bus_number" property="busNumber" jdbcType="VARCHAR"/>
        <result column="bus_start_time" property="busStartTime" jdbcType="VARCHAR"/>
        <result column="bus_end_time" property="busEndTime" jdbcType="VARCHAR"/>
        <result column="bus_price" property="busPrice" jdbcType="VARCHAR"/>
        <result column="distance" property="distance" jdbcType="DECIMAL"/>
        <result column="route_codes" property="routeCodes" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="winter_start_time" property="winterStartTime" jdbcType="VARCHAR"/>
        <result column="winter_end_time" property="winterEndTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          列名
        -->
        bus_id, bus_code, bus_name, bus_number, bus_start_time, bus_end_time, bus_price,
        distance, route_codes, create_time, update_time, flag ,winter_start_time, winter_end_time
    </sql>

    <!--
          根据公交车的唯一标识code查询
     -->
    <select id="selBusByBusCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_bus
        where bus_code = #{busCode,jdbcType=VARCHAR}
        AND flag = "0"
    </select>

    <!--
          根据公交车的busId查询busNumberId
     -->
    <select id="selectBusNumberIdByBusId" resultType="java.lang.String" parameterType="java.lang.String">

        select
        bus_number
        from tb_bus
        where bus_id = #{busId,jdbcType=VARCHAR}
    </select>

    <!--
          模糊查询公交车
     -->
    <select id="likeBusByName" resultMap="BaseResultMap">
        select
        bus_id, bus_code, bus_name, bus_number, bus_start_time, bus_end_time, bus_price,
        distance, route_codes, create_time, update_time,winter_start_time, winter_end_time
        from tb_bus
        where flag = '0'
        ORDER BY create_time DESC
        limit #{pageNo},#{pageSize}
    </select>

    <select id="likeBusByNameAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_bus
        where flag = '0'
    </select>

    <!--
         根据busId查询公交车信息
        -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        bus_id, bus_code, bus_name, bus_number, bus_start_time, bus_end_time, bus_price,
        distance, route_codes, create_time, update_time,winter_start_time, winter_end_time
        from tb_bus
        where bus_id = #{busId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_bus
        where bus_id = #{busId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_bus (bus_id, bus_code, bus_name,
        bus_number, bus_start_time, bus_end_time,
        bus_price, distance, route_codes,
        create_time, update_time, flag,
        winter_start_time, winter_end_time
        )
        values (#{busId,jdbcType=VARCHAR}, #{busCode,jdbcType=VARCHAR}, #{busName,jdbcType=VARCHAR},
        #{busNumber,jdbcType=VARCHAR}, #{busStartTime,jdbcType=VARCHAR}, #{busEndTime,jdbcType=VARCHAR},
        #{busPrice,jdbcType=VARCHAR}, #{distance,jdbcType=DECIMAL}, #{routeCodes,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR},
        #{winterStartTime,jdbcType=VARCHAR}, #{winterEndTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_bus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busId != null">
                bus_id,
            </if>
            <if test="busCode != null">
                bus_code,
            </if>
            <if test="busName != null">
                bus_name,
            </if>
            <if test="busNumber != null">
                bus_number,
            </if>
            <if test="busStartTime != null">
                bus_start_time,
            </if>
            <if test="busEndTime != null">
                bus_end_time,
            </if>
            <if test="busPrice != null">
                bus_price,
            </if>
            <if test="distance != null">
                distance,
            </if>
            <if test="routeCodes != null">
                route_codes,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="busStartTime != null">
                winter_start_time,
            </if>
            <if test="busEndTime != null">
                winter_end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busId != null">
                #{busId,jdbcType=VARCHAR},
            </if>
            <if test="busCode != null">
                #{busCode,jdbcType=VARCHAR},
            </if>
            <if test="busName != null">
                #{busName,jdbcType=VARCHAR},
            </if>
            <if test="busNumber != null">
                #{busNumber,jdbcType=VARCHAR},
            </if>
            <if test="busStartTime != null">
                #{busStartTime,jdbcType=VARCHAR},
            </if>
            <if test="busEndTime != null">
                #{busEndTime,jdbcType=VARCHAR},
            </if>
            <if test="busPrice != null">
                #{busPrice,jdbcType=VARCHAR},
            </if>
            <if test="distance != null">
                #{distance,jdbcType=DECIMAL},
            </if>
            <if test="routeCodes != null">
                #{routeCodes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="winterStartTime != null">
                #{winterStartTime,jdbcType=VARCHAR},
            </if>
            <if test="winterEndTime != null">
                #{winterEndTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_bus
        <set>
            <if test="busCode != null">
                bus_code = #{busCode,jdbcType=VARCHAR},
            </if>
            <if test="busName != null">
                bus_name = #{busName,jdbcType=VARCHAR},
            </if>
            <if test="busNumber != null">
                bus_number = #{busNumber,jdbcType=VARCHAR},
            </if>
            <if test="busStartTime != null">
                bus_start_time = #{busStartTime,jdbcType=VARCHAR},
            </if>
            <if test="busEndTime != null">
                bus_end_time = #{busEndTime,jdbcType=VARCHAR},
            </if>
            <if test="busPrice != null">
                bus_price = #{busPrice,jdbcType=VARCHAR},
            </if>
            <if test="distance != null">
                distance = #{distance,jdbcType=DECIMAL},
            </if>
            <if test="routeCodes != null">
                route_codes = #{routeCodes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="winterStartTime != null">
                winter_start_time = #{winterStartTime,jdbcType=VARCHAR},
            </if>
            <if test="winterEndTime != null">
                winter_end_time = #{winterEndTime,jdbcType=VARCHAR},
            </if>
        </set>
        where bus_id = #{busId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_bus
        set bus_code = #{busCode,jdbcType=VARCHAR},
        bus_name = #{busName,jdbcType=VARCHAR},
        bus_number = #{busNumber,jdbcType=VARCHAR},
        bus_start_time = #{busStartTime,jdbcType=VARCHAR},
        bus_end_time = #{busEndTime,jdbcType=VARCHAR},
        bus_price = #{busPrice,jdbcType=VARCHAR},
        distance = #{distance,jdbcType=DECIMAL},
        route_codes = #{routeCodes,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR},
        winter_start_time = #{winterStartTime,jdbcType=VARCHAR},
        winter_end_time = #{winterEndTime,jdbcType=VARCHAR},
        where bus_id = #{busId,jdbcType=VARCHAR}
    </update>
</mapper>