<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbCarMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbCar">
        <!--
          列对应实体属性
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="device_number" property="deviceNumber" jdbcType="VARCHAR"/>
        <result column="car_number" property="carNumber" jdbcType="VARCHAR"/>
        <result column="chassis_number" property="chassisNumber" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          列名
        -->
        id, code, device_number, car_number, chassis_number, create_time, update_time, flag
    </sql>

    <!--
        根据主键查询信息
      -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_car
        where id = #{id,jdbcType=VARCHAR}
    </select>


    <!--
       根据设备号查询车辆
      -->
    <select id="selCarByDeviceNumber" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_car
        where device_number = #{deviceNumber,jdbcType=VARCHAR}
        AND flag = "0"

    </select>

    <!--
       根据车牌号查询车辆
      -->
    <select id="selCarByCarNumber" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_car
        where car_number = #{carNumber,jdbcType=VARCHAR}
        AND flag = "0"

    </select>

    <!--
        查询所有同乡客运的车
      -->
    <select id="selAllTbCar" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_car
        where flag = "0"
        AND (code like #{name} OR device_number like #{name} OR car_number like #{name} OR chassis_number like #{name})
        ORDER BY create_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_car
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbCar">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_car (id, code, device_number,
        car_number, chassis_number, create_time,
        update_time, flag)
        values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{deviceNumber,jdbcType=VARCHAR},
        #{carNumber,jdbcType=VARCHAR}, #{chassisNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbCar">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="deviceNumber != null">
                device_number,
            </if>
            <if test="carNumber != null">
                car_number,
            </if>
            <if test="chassisNumber != null">
                chassis_number,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="deviceNumber != null">
                #{deviceNumber,jdbcType=VARCHAR},
            </if>
            <if test="carNumber != null">
                #{carNumber,jdbcType=VARCHAR},
            </if>
            <if test="chassisNumber != null">
                #{chassisNumber,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbCar">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_car
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="deviceNumber != null">
                device_number = #{deviceNumber,jdbcType=VARCHAR},
            </if>
            <if test="carNumber != null">
                car_number = #{carNumber,jdbcType=VARCHAR},
            </if>
            <if test="chassisNumber != null">
                chassis_number = #{chassisNumber,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbCar">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_car
        set code = #{code,jdbcType=VARCHAR},
        device_number = #{deviceNumber,jdbcType=VARCHAR},
        car_number = #{carNumber,jdbcType=VARCHAR},
        chassis_number = #{chassisNumber,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>


</mapper>