<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbComplainMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbComplain">
        <!--
          列匹配实体属性
        -->
        <id column="complain_id" property="complainId" jdbcType="VARCHAR"/>
        <result column="complain_code" property="complainCode" jdbcType="VARCHAR"/>
        <result column="complain_type" property="complainType" jdbcType="VARCHAR"/>
        <result column="car_num" property="carNum" jdbcType="VARCHAR"/>
        <result column="car_color" property="carColor" jdbcType="VARCHAR"/>
        <result column="driver_name" property="driverName" jdbcType="VARCHAR"/>
        <result column="route_desc" property="routeDesc" jdbcType="VARCHAR"/>
        <result column="departure_time" property="departureTime" jdbcType="VARCHAR"/>
        <result column="detail_desc" property="detailDesc" jdbcType="VARCHAR"/>
        <result column="complain_state" property="complainState" jdbcType="VARCHAR"/>
        <result column="back_desc" property="backDesc" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="image_url" property="imgList" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        complain_id, complain_code, complain_type, car_num, car_color, driver_name, route_desc,
        departure_time, detail_desc, complain_state, back_desc, remarks, create_time, update_time,
        flag,user_code,image_url
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_complain
        where complain_id = #{complainId,jdbcType=VARCHAR}
    </select>

    <!--
        根据用户的唯一标识查询
      -->
    <select id="selComplainByUserCode" resultMap="BaseResultMap">

        select
        a.complain_id, a.complain_code,a.complain_type, a.car_num, a.car_color, a.driver_name, a.route_desc,
        a.departure_time, a.detail_desc, a.complain_state, a.back_desc, a.remarks, a.create_time, a.update_time,
        a.flag,a.user_code,b.parm_name type,a.image_url
        from tb_complain a,tb_parm b
        where a.complain_type = b.parm_id
        AND a.flag = "0"
        AND a.detail_desc LIKE #{name,jdbcType=VARCHAR}
        <if test="state != null">
            AND a.complain_state = #{state,jdbcType=VARCHAR}
        </if>
        <if test="userCode != null">
            AND a.user_code = #{userCode,jdbcType=VARCHAR}
        </if>
        ORDER BY a.update_time DESC
    </select>

    <!--
        根据唯一code查询信息
      -->
    <select id="selComplainByCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        a.complain_id, a.complain_code,a.complain_type, a.car_num, a.car_color, a.driver_name, a.route_desc,
        a.departure_time, a.detail_desc, a.complain_state, a.back_desc, a.remarks, a.create_time, a.update_time,
        a.flag,a.user_code,b.parm_name type, a.image_url
        from tb_complain a,tb_parm b
        where a.complain_type = b.parm_id
        AND a.complain_code = #{code,jdbcType=VARCHAR}

    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_complain
        where complain_id = #{complainId,jdbcType=VARCHAR}
    </delete>


    <!--
        根据唯一标识code概念性删除
      -->
    <update id="deleteByCode" parameterType="java.lang.String">

        UPDATE tb_complain
        SET flag = "1"
        WHERE complain_code = #{code,jdbcType=VARCHAR}
    </update>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbComplain">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_complain (complain_id, complain_code, complain_type,
        car_num, car_color, driver_name,
        route_desc, departure_time, detail_desc,
        complain_state, back_desc, remarks,
        create_time, update_time, flag,user_code
        )
        values (#{complainId,jdbcType=VARCHAR}, #{complainCode,jdbcType=VARCHAR}, #{complainType,jdbcType=VARCHAR},
        #{carNum,jdbcType=VARCHAR}, #{carColor,jdbcType=VARCHAR}, #{driverName,jdbcType=VARCHAR},
        #{routeDesc,jdbcType=VARCHAR}, #{departureTime,jdbcType=VARCHAR}, #{detailDesc,jdbcType=VARCHAR},
        #{complainState,jdbcType=VARCHAR}, #{backDesc,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR},
        #{userCode,jdbcType=VARCHAR}
        )
    </insert>

    <!--
        动态添加投诉信息
      -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbComplain">

        insert into tb_complain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="complainId != null">
                complain_id,
            </if>
            <if test="complainCode != null">
                complain_code,
            </if>
            <if test="complainType != null">
                complain_type,
            </if>
            <if test="carNum != null">
                car_num,
            </if>
            <if test="carColor != null">
                car_color,
            </if>
            <if test="driverName != null">
                driver_name,
            </if>
            <if test="routeDesc != null">
                route_desc,
            </if>
            <if test="departureTime != null">
                departure_time,
            </if>
            <if test="detailDesc != null">
                detail_desc,
            </if>
            <if test="complainState != null">
                complain_state,
            </if>
            <if test="backDesc != null">
                back_desc,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            create_time,
            update_time,
            <if test="flag != null">
                flag,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="imgList != null and imgList != ''">
                image_url
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="complainId != null">
                #{complainId,jdbcType=VARCHAR},
            </if>
            <if test="complainCode != null">
                #{complainCode,jdbcType=VARCHAR},
            </if>
            <if test="complainType != null">
                #{complainType,jdbcType=VARCHAR},
            </if>
            <if test="carNum != null">
                #{carNum,jdbcType=VARCHAR},
            </if>
            <if test="carColor != null">
                #{carColor,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="routeDesc != null">
                #{routeDesc,jdbcType=VARCHAR},
            </if>
            <if test="departureTime != null">
                #{departureTime,jdbcType=VARCHAR},
            </if>
            <if test="detailDesc != null">
                #{detailDesc,jdbcType=VARCHAR},
            </if>
            <if test="complainState != null">
                #{complainState,jdbcType=VARCHAR},
            </if>
            <if test="backDesc != null">
                #{backDesc,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="imgList != null and imgList != ''">
                #{imgList,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbComplain">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_complain
        <set>
            <if test="complainCode != null">
                complain_code = #{complainCode,jdbcType=VARCHAR},
            </if>
            <if test="complainType != null">
                complain_type = #{complainType,jdbcType=VARCHAR},
            </if>
            <if test="carNum != null">
                car_num = #{carNum,jdbcType=VARCHAR},
            </if>
            <if test="carColor != null">
                car_color = #{carColor,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="routeDesc != null">
                route_desc = #{routeDesc,jdbcType=VARCHAR},
            </if>
            <if test="departureTime != null">
                departure_time = #{departureTime,jdbcType=VARCHAR},
            </if>
            <if test="detailDesc != null">
                detail_desc = #{detailDesc,jdbcType=VARCHAR},
            </if>
            <if test="complainState != null">
                complain_state = #{complainState,jdbcType=VARCHAR},
            </if>
            <if test="backDesc != null">
                back_desc = #{backDesc,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
        </set>
        where complain_id = #{complainId,jdbcType=VARCHAR}
    </update>

    <!--
        根据code修改投诉的反馈结果和回馈信息
      -->
    <update id="updateByCode" parameterType="com.tangmo.zhygzhglxt.entity.TbComplain">

        update tb_complain
        <set>
            <if test="complainType != null">
                complain_type = #{complainType,jdbcType=VARCHAR},
            </if>
            <if test="carNum != null">
                car_num = #{carNum,jdbcType=VARCHAR},
            </if>
            <if test="carColor != null">
                car_color = #{carColor,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="routeDesc != null">
                route_desc = #{routeDesc,jdbcType=VARCHAR},
            </if>
            <if test="departureTime != null">
                departure_time = #{departureTime,jdbcType=VARCHAR},
            </if>
            <if test="detailDesc != null">
                detail_desc = #{detailDesc,jdbcType=VARCHAR},
            </if>
            <if test="complainState != null">
                complain_state = #{complainState,jdbcType=VARCHAR},
            </if>
            <if test="backDesc != null">
                back_desc = #{backDesc,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
        </set>
        where complain_code = #{complainCode,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbComplain">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_complain
        set complain_code = #{complainCode,jdbcType=VARCHAR},
        complain_type = #{complainType,jdbcType=VARCHAR},
        car_num = #{carNum,jdbcType=VARCHAR},
        car_color = #{carColor,jdbcType=VARCHAR},
        driver_name = #{driverName,jdbcType=VARCHAR},
        route_desc = #{routeDesc,jdbcType=VARCHAR},
        departure_time = #{departureTime,jdbcType=VARCHAR},
        detail_desc = #{detailDesc,jdbcType=VARCHAR},
        complain_state = #{complainState,jdbcType=VARCHAR},
        back_desc = #{backDesc,jdbcType=VARCHAR},
        remarks = #{remarks,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR},
        user_code = #{userCode,jdbcType=VARCHAR}
        where complain_id = #{complainId,jdbcType=VARCHAR}
    </update>
</mapper>