<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbDriverOrderMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbDriverOrder">
        <!--
          列匹配实体属性
        -->
        <id column="driver_order_id" property="driverOrderId" jdbcType="VARCHAR"/>
        <result column="driver_order_code" property="driverOrderCode" jdbcType="VARCHAR"/>
        <result column="driver_id" property="driverId" jdbcType="VARCHAR"/>
        <result column="passenger_order_code" property="passengerOrderCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="opinion" property="opinion" jdbcType="VARCHAR"/>
        <result column="rating" property="rating" jdbcType="VARCHAR"/>
        <result column="driver_order_state" property="driverOrderState" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="tb_parm_id" property="tbParmId" jdbcType="VARCHAR"/>
        <result column="rating_state" property="ratingState" jdbcType="VARCHAR"/>
        <result column="rating_time" property="ratingTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="TbPassengerOrderMap" type="com.tangmo.zhygzhglxt.entity.TbPassengerOrder">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="order_number" property="orderNumber" jdbcType="VARCHAR"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="start_address" property="startAddress" jdbcType="VARCHAR"/>
        <result column="end_address" property="endAddress" jdbcType="VARCHAR"/>
        <result column="km" property="km" jdbcType="DECIMAL"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="people_number" property="peopleNumber" jdbcType="INTEGER"/>
        <result column="appointment_time" property="appointmentTime" jdbcType="TIMESTAMP"/>
        <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="order_state" property="orderState" jdbcType="VARCHAR"/>
        <result column="start_longitude" property="startLongitude" jdbcType="VARCHAR"/>
        <result column="start_latitude" property="startLatitude" jdbcType="VARCHAR"/>
        <result column="end_longitude" property="endLongitude" jdbcType="VARCHAR"/>
        <result column="end_latitude" property="endLatitude" jdbcType="VARCHAR"/>
        <result column="end_about" property="endAbout" jdbcType="VARCHAR"/>
        <result column="tb_parm_d" property="tbParmId" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_details" property="goodsDetails" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        driver_order_id, driver_order_code, driver_id, passenger_order_code, create_time,
        end_time, opinion, rating, driver_order_state, flag,tb_parm_id,rating_state,rating_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_driver_order
        where driver_order_id = #{driverOrderId,jdbcType=VARCHAR}
    </select>


    <!--
        根据司机的唯一标识查询是否有未完成的订单
      -->
    <select id="selectByDriverCodeAndState" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_driver_order
        where driver_id = #{driverCode,jdbcType=VARCHAR}
        AND driver_order_state = "0"
    </select>

    <!--
        根据司机的唯一标识查询是否有未完成的订单
      -->
    <select id="selPassengerOrderCodeByDriverCode" resultType="java.lang.String" parameterType="java.lang.String">

        select
        passenger_order_code
        from tb_driver_order
        where driver_id = #{driverCode,jdbcType=VARCHAR}
        AND flag = "0"
    </select>

    <!--
        根据乘客订单的唯一标识查询司机订单的信息
      -->
    <select id="selByPassengerOrderCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_driver_order
        where passenger_order_code = #{passengerOrderCode,jdbcType=VARCHAR}
    </select>

    <!--
        根据车主订单的唯一标识查询订单的信息
      -->
    <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_driver_order
        where driver_order_code = #{driverOrderCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_driver_order
        where driver_order_id = #{driverOrderId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbDriverOrder">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_driver_order (driver_order_id, driver_order_code, driver_id,
        passenger_order_code, create_time, end_time,
        opinion, rating, driver_order_state,
        flag,rating_state)
        values (#{driverOrderId,jdbcType=VARCHAR}, #{driverOrderCode,jdbcType=VARCHAR}, #{driverId,jdbcType=VARCHAR},
        #{passengerOrderCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
        #{opinion,jdbcType=VARCHAR}, #{rating,jdbcType=VARCHAR}, #{driverOrderState,jdbcType=VARCHAR},
        #{flag,jdbcType=VARCHAR}, #{ratingState,jdbcType=VARCHAR})
    </insert>

    <!--
        动态添加司机订单
      -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbDriverOrder">

        insert into tb_driver_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="driverOrderId != null">
                driver_order_id,
            </if>
            <if test="driverOrderCode != null">
                driver_order_code,
            </if>
            <if test="driverId != null">
                driver_id,
            </if>
            <if test="passengerOrderCode != null">
                passenger_order_code,
            </if>
            create_time,
            <if test="endTime != null">
                end_time,
            </if>
            <if test="opinion != null">
                opinion,
            </if>
            <if test="rating != null">
                rating,
            </if>
            <if test="driverOrderState != null">
                driver_order_state,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="tbParmId != null">
                tb_parm_id,
            </if>
            <if test="ratingState != null">
                rating_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="driverOrderId != null">
                #{driverOrderId,jdbcType=VARCHAR},
            </if>
            <if test="driverOrderCode != null">
                #{driverOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="driverId != null">
                #{driverId,jdbcType=VARCHAR},
            </if>
            <if test="passengerOrderCode != null">
                #{passengerOrderCode,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opinion != null">
                #{opinion,jdbcType=VARCHAR},
            </if>
            <if test="rating != null">
                #{rating,jdbcType=VARCHAR},
            </if>
            <if test="driverOrderState != null">
                #{driverOrderState,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="tbParmId != null">
                #{tbParmId,jdbcType=VARCHAR},
            </if>
            <if test="ratingState != null">
                #{ratingState,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbDriverOrder">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_driver_order
        <set>
            <if test="driverOrderCode != null">
                driver_order_code = #{driverOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="driverId != null">
                driver_id = #{driverId,jdbcType=VARCHAR},
            </if>
            <if test="passengerOrderCode != null">
                passenger_order_code = #{passengerOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opinion != null">
                opinion = #{opinion,jdbcType=VARCHAR},
            </if>
            <if test="rating != null">
                rating = #{rating,jdbcType=VARCHAR},
            </if>
            <if test="driverOrderState != null">
                driver_order_state = #{driverOrderState,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="ratingState != null">
                rating_state = #{ratingState,jdbcType=VARCHAR},
            </if>
        </set>
        where driver_order_id = #{driverOrderId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbDriverOrder">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_driver_order
        set driver_order_code = #{driverOrderCode,jdbcType=VARCHAR},
        driver_id = #{driverId,jdbcType=VARCHAR},
        passenger_order_code = #{passengerOrderCode,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        opinion = #{opinion,jdbcType=VARCHAR},
        rating = #{rating,jdbcType=VARCHAR},
        rating_state = #{ratingState,jdbcType=VARCHAR},
        driver_order_state = #{driverOrderState,jdbcType=VARCHAR},
        flag = #{flag,jdbcType=VARCHAR}
        where driver_order_id = #{driverOrderId,jdbcType=VARCHAR}
    </update>


    <!--
        根据乘客订单code，乘客评价司机订单
      -->
    <update id="ratingByOrderCode">

        update tb_driver_order
        set
        opinion = #{opinion,jdbcType=VARCHAR},
        rating = #{rating,jdbcType=VARCHAR},
        rating_state = "1",
        rating_time = now()
        where passenger_order_code = #{passengerOrderCode,jdbcType=VARCHAR}
    </update>


    <!--
          根据车主订单的唯一标识改变订单的状态
      -->
    <update id="updateDriverOrderState">

        update tb_driver_order
        set
        end_time = now(),
        driver_order_state = #{state,jdbcType=VARCHAR}
        where driver_order_code = #{code,jdbcType=VARCHAR}
    </update>

    <!--
          根据乘客订单的唯一标识改变订单的状态
      -->
    <update id="updateStateByPassengerOrderCode">

        update tb_driver_order
        set
        end_time = now(),
        driver_order_state = #{state,jdbcType=VARCHAR}
        where passenger_order_code = #{passengerOrderCode,jdbcType=VARCHAR}
    </update>

    <!--车主查询乘客所有单子 0预约单 1实时单-->
    <select id="jtQuery" resultMap="TbPassengerOrderMap">

        SELECT
        order_id,
        order_code,
        order_number,
        user_code,
        start_address,
        end_address,
        km,
        price,
        people_number,
        appointment_time,
        creat_time,
        update_time,
        flag,
        order_state,
        start_longitude,
        start_latitude,
        end_longitude,
        end_latitude,
        end_about,
        tb_parm_id,
        goods_name,
        goods_details
        FROM tb_passenger_order
        WHERE flag = 0
        AND end_about = #{endAbout}
        AND order_state = #{orderState}
        AND tb_parm_id =#{tbParmId}
        ORDER BY update_time DESC

    </select>

    <!--车主查询乘客所有单子 0预约单 1实时单-->
    <select id="selPassengerOrderByBusRoute" resultMap="TbPassengerOrderMap">

        SELECT
        order_id,
        order_code,
        order_number,
        user_code,
        start_address,
        end_address,
        km,
        price,
        people_number,
        appointment_time,
        creat_time,
        update_time,
        flag,
        order_state,
        start_longitude,
        start_latitude,
        end_longitude,
        end_latitude,
        end_about,
        tb_parm_id,
        goods_name,
        goods_details
        FROM tb_passenger_order
        WHERE flag = 0
        AND end_about = #{endAbout}
        AND order_state = #{orderState}
        AND tb_parm_id =#{tbParmId}
        AND bus_route = (
        select tb_regular_bus.regular_bus_route from tb_regular_bus
        where flag = "0" AND regular_bus_number = #{carNumber}
        )
        ORDER BY update_time DESC

    </select>

    <!--车主查询单子详情(司机订单唯一标识)-->
    <select id="jtQueryOrderCode" resultMap="BaseResultMap">

        SELECT
        driver_order_id,
        driver_order_code,
        driver_id,
        passenger_order_code,
        create_time,
        end_time,
        opinion,
        rating,
        rating_state,
        driver_order_state,
        flag,
        tb_parm_id
        FROM tb_driver_order
        WHERE flag = 0
        AND driver_order_code =#{driverOrderCode,jdbcType=VARCHAR}


    </select>


    <!--车主查询自己所有单子状态-->
    <select id="jtQyeryById" resultMap="BaseResultMap">

        SELECT
        driver_order_id,
        driver_order_code,
        driver_id,
        passenger_order_code,
        create_time,
        end_time,
        opinion,
        rating,
        rating_state,
        driver_order_state,
        flag
        FROM tb_driver_order
        WHERE flag = 0
        AND driver_id = #{driverId}
        AND driver_order_state = #{driverOrderState}
        ORDER BY create_time DESC

    </select>


</mapper>