<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbInformationMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbInformation">
        <!--
          字段匹配属性
        -->
        <id column="information_id" property="informationId" jdbcType="VARCHAR"/>
        <result column="information_code" property="informationCode" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="publish_data" property="publishData" jdbcType="TIMESTAMP"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="two_classify_code" property="twoClassifyCode" jdbcType="VARCHAR"/>
        <result column="information_state" property="informationState" jdbcType="VARCHAR"/>
        <result column="cover_img" property="coverImg" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.tangmo.zhygzhglxt.entity.TbInformation" extends="BaseResultMap">
        <!--
          文章内容
        -->
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          查询字段
        -->
        information_id, information_code, title, publish_data, user_code, two_classify_code,
        information_state, cover_img, create_time, update_time, flag
    </sql>
    <sql id="Blob_Column_List">
        <!--
          查询字段
        -->
        content
    </sql>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_information
        where information_id = #{informationId,jdbcType=VARCHAR}
    </select>


    <!--
        根据文章的唯一标code查询文章信息
      -->
    <select id="selectByCode" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_information
        where information_code = #{informationCode,jdbcType=VARCHAR}
    </select>

    <!--
        根据文章的唯一标code查询文章信息
      -->
    <select id="findClassifyCode" resultMap="ResultMapWithBLOBs">

        select
        a.information_id, a.information_code, a.title, a.publish_data, a.user_code, a.two_classify_code,
        a.information_state, a.cover_img, a.create_time, a.update_time, a.flag,a.content,b.name twoType
        from tb_information a,tb_two_classify b
        where a.two_classify_code = b.two_classify_code
        AND a.title LIKE #{name,jdbcType=VARCHAR}
        <if test="classifCode == 0">
            AND a.two_classify_code IN (
            SELECT two_classify_code FROM tb_two_classify
            where one_classify_code IN ("1","2")
            )
        </if>
        <if test="classifCode != 0">
            AND a.two_classify_code IN (
            SELECT two_classify_code FROM tb_two_classify
            where one_classify_code = #{classifCode,jdbcType=VARCHAR}
            )
        </if>
        AND a.flag = "0"
        ORDER BY a.update_time DESC
    </select>

    <!--
        根据文章的唯一标code查询文章信息
      -->
    <select id="appFindPage" resultMap="ResultMapWithBLOBs">

        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_information
        where title LIKE #{name,jdbcType=VARCHAR}
        AND two_classify_code = #{twoClassifyCode,jdbcType=VARCHAR}
        ORDER BY update_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_information
        where information_id = #{informationId,jdbcType=VARCHAR}
    </delete>


    <!--
        根据文章的唯一标识（概念性）删除文章
      -->
    <update id="deleteByInformationCode" parameterType="java.lang.String">

        UPDATE tb_information
        SET flag = "1"
        where information_code = #{informationCode,jdbcType=VARCHAR}
    </update>


    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbInformation">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_information (information_id, information_code, title,
        publish_data, user_code, two_classify_code,
        information_state, cover_img, create_time,
        update_time, flag, content
        )
        values (#{informationId,jdbcType=VARCHAR}, #{informationCode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
        #{publishData,jdbcType=TIMESTAMP}, #{userCode,jdbcType=VARCHAR}, #{twoClassifyCode,jdbcType=VARCHAR},
        #{informationState,jdbcType=VARCHAR}, #{coverImg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
        )
    </insert>

    <!--
        单个文章信息的添加
      -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbInformation">

        insert into tb_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="informationId != null">
                information_id,
            </if>
            <if test="informationCode != null">
                information_code,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="publishData != null">
                publish_data,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="twoClassifyCode != null">
                two_classify_code,
            </if>
            <if test="informationState != null">
                information_state,
            </if>
            <if test="coverImg != null">
                cover_img,
            </if>
            create_time,
            update_time,
            <if test="flag != null">
                flag,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="informationId != null">
                #{informationId,jdbcType=VARCHAR},
            </if>
            <if test="informationCode != null">
                #{informationCode,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="publishData != null">
                #{publishData,jdbcType=TIMESTAMP},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="twoClassifyCode != null">
                #{twoClassifyCode,jdbcType=VARCHAR},
            </if>
            <if test="informationState != null">
                #{informationState,jdbcType=VARCHAR},
            </if>
            <if test="coverImg != null">
                #{coverImg,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbInformation">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_information
        <set>
            <if test="informationCode != null">
                information_code = #{informationCode,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="publishData != null">
                publish_data = #{publishData,jdbcType=TIMESTAMP},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="twoClassifyCode != null">
                two_classify_code = #{twoClassifyCode,jdbcType=VARCHAR},
            </if>
            <if test="informationState != null">
                information_state = #{informationState,jdbcType=VARCHAR},
            </if>
            <if test="coverImg != null">
                cover_img = #{coverImg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            update_time = now(),
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where information_id = #{informationId,jdbcType=VARCHAR}
    </update>


    <!--
        根据文章的唯一标识code来修改文章
      -->
    <update id="updateByCode" parameterType="com.tangmo.zhygzhglxt.entity.TbInformation">

        update tb_information
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="publishData != null">
                publish_data = #{publishData,jdbcType=TIMESTAMP},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="twoClassifyCode != null">
                two_classify_code = #{twoClassifyCode,jdbcType=VARCHAR},
            </if>
            <if test="informationState != null">
                information_state = #{informationState,jdbcType=VARCHAR},
            </if>
            <if test="coverImg != null">
                cover_img = #{coverImg,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where information_code = #{informationCode,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tangmo.zhygzhglxt.entity.TbInformation">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_information
        set information_code = #{informationCode,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        publish_data = #{publishData,jdbcType=TIMESTAMP},
        user_code = #{userCode,jdbcType=VARCHAR},
        two_classify_code = #{twoClassifyCode,jdbcType=VARCHAR},
        information_state = #{informationState,jdbcType=VARCHAR},
        cover_img = #{coverImg,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR},
        content = #{content,jdbcType=LONGVARCHAR}
        where information_id = #{informationId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbInformation">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_information
        set information_code = #{informationCode,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        publish_data = #{publishData,jdbcType=TIMESTAMP},
        user_code = #{userCode,jdbcType=VARCHAR},
        two_classify_code = #{twoClassifyCode,jdbcType=VARCHAR},
        information_state = #{informationState,jdbcType=VARCHAR},
        cover_img = #{coverImg,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR}
        where information_id = #{informationId,jdbcType=VARCHAR}
    </update>
</mapper>