<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbOrderRouteMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbOrderRoute">
        <!--
          字段名匹配列名
        -->
        <id column="order_route_id" property="orderRouteId" jdbcType="VARCHAR"/>
        <result column="driver_order_code" property="driverOrderCode" jdbcType="VARCHAR"/>
        <result column="la" property="la" jdbcType="VARCHAR"/>
        <result column="lo" property="lo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="tm" property="tm" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">

        <!--
          列名
        -->
        order_route_id, driver_order_code, la, lo, create_time, update_time, flag, tm
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--

        -->
        select
        <include refid="Base_Column_List"/>
        from tb_order_route
        where order_route_id = #{orderRouteId,jdbcType=VARCHAR}
    </select>

    <!--
        根据司机订单的唯一标识查询订单路线
      -->
    <select id="selectByDriverOrderCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_order_route
        where driver_order_code = #{driverOrderCode,jdbcType=VARCHAR}
        AND flag = "0"
        ORDER BY create_time ASC
    </select>

    <!--
        根据司机订单的唯一标识查询订单路线
      -->
    <select id="selectByDriverOrderCodeOne" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_order_route
        where driver_order_code = #{driverOrderCode,jdbcType=VARCHAR}
        AND flag = "0"
        ORDER BY create_time ASC
        limit 0,1
    </select>

    <!--
        根据司机订单的唯一标识查询订单路线
      -->
    <select id="selectByDriverOrderCodeLast" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_order_route
        where driver_order_code = #{driverOrderCode,jdbcType=VARCHAR}
        AND flag = "0"
        ORDER BY create_time DESC
        limit 0,1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_order_route
        where order_route_id = #{orderRouteId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbOrderRoute">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_order_route (order_route_id, driver_order_code, la,
        lo, create_time, update_time,
        flag,tm)
        values (#{orderRouteId,jdbcType=VARCHAR}, #{driverOrderCode,jdbcType=VARCHAR}, #{la,jdbcType=VARCHAR},
        #{lo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{flag,jdbcType=VARCHAR},#{tm,jdbcType=INTEGER})
    </insert>

    <!--
        动态添加
      -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbOrderRoute">

        insert into tb_order_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderRouteId != null">
                order_route_id,
            </if>
            <if test="driverOrderCode != null">
                driver_order_code,
            </if>
            <if test="la != null">
                la,
            </if>
            <if test="lo != null">
                lo,
            </if>
            create_time,
            update_time,
            <if test="flag != null">
                flag,
            </if>
            <if test="tm != null">
                tm,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderRouteId != null">
                #{orderRouteId,jdbcType=VARCHAR},
            </if>
            <if test="driverOrderCode != null">
                #{driverOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="la != null">
                #{la,jdbcType=VARCHAR},
            </if>
            <if test="lo != null">
                #{lo,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="tm != null">
                #{tm,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbOrderRoute">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_order_route
        <set>
            <if test="driverOrderCode != null">
                driver_order_code = #{driverOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="la != null">
                la = #{la,jdbcType=VARCHAR},
            </if>
            <if test="lo != null">
                lo = #{lo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="tm != null">
                tm = #{tm,jdbcType=INTEGER},
            </if>
        </set>
        where order_route_id = #{orderRouteId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbOrderRoute">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_order_route
        set driver_order_code = #{driverOrderCode,jdbcType=VARCHAR},
        la = #{la,jdbcType=VARCHAR},
        lo = #{lo,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR},
        tm = #{tm,jdbcType=INTEGER}
        where order_route_id = #{orderRouteId,jdbcType=VARCHAR}
    </update>
</mapper>