<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbPassengerOrderMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbPassengerOrder">
        <!--
          列对应实体属性
        -->
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="order_number" property="orderNumber" jdbcType="VARCHAR"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="start_address" property="startAddress" jdbcType="VARCHAR"/>
        <result column="end_address" property="endAddress" jdbcType="VARCHAR"/>
        <result column="km" property="km" jdbcType="DECIMAL"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="people_number" property="peopleNumber" jdbcType="INTEGER"/>
        <result column="appointment_time" property="appointmentTime" jdbcType="VARCHAR"/>
        <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="order_state" property="orderState" jdbcType="VARCHAR"/>
        <result column="start_longitude" property="startLongitude" jdbcType="VARCHAR"/>
        <result column="start_latitude" property="startLatitude" jdbcType="VARCHAR"/>
        <result column="end_longitude" property="endLongitude" jdbcType="VARCHAR"/>
        <result column="end_latitude" property="endLatitude" jdbcType="VARCHAR"/>
        <result column="end_about" property="endAbout" jdbcType="VARCHAR"/>
        <result column="tb_parm_id" property="tbParmId" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_details" property="goodsDetails" jdbcType="VARCHAR"/>
        <result column="dg_time" property="dgTime" jdbcType="VARCHAR"/>
        <result column="pay_way" property="payWay" jdbcType="VARCHAR"/>
        <result column="contact" property="contact" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="audit" property="audit" jdbcType="VARCHAR"/>
        <result column="car_number" property="carNumber" jdbcType="VARCHAR"/>
        <result column="bus_route" property="busRoute" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        order_id, order_code, order_number, user_code, start_address, end_address, km, price,
        people_number, appointment_time, creat_time, update_time, flag, order_state, start_longitude,
        start_latitude, end_longitude, end_latitude, end_about, tb_parm_id, goods_name, goods_details,
        dg_time, pay_way, contact, phone, remarks, audit,car_number,bus_route
    </sql>

    <!--
      根据乘客订单的唯一标识查询订单的详情
    -->
    <select id="selOrderDetailByOrderCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where order_code = #{passengerOrderCode,jdbcType=VARCHAR}
        AND flag = "0"
    </select>

    <!--
      根据乘客订单的订单单号查询订单的详情
    -->
    <select id="selectByPassOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where order_number = #{orderNumber,jdbcType=VARCHAR}
    </select>

    <!--
      订单统计：后台根据年月查询订单的完成量和取消量
    -->
    <select id="selOrderByDate" resultType="java.util.Map" parameterType="java.lang.String">

        select
        LEFT (creat_time, 7) timeDate,
        (select count(*) from tb_passenger_order t1 where order_state = "2"
        <if test="timeDate != null">
            and LEFT (t1.creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
        ) complete,
        (select count(*) from tb_passenger_order t1 where order_state = "3"
        <if test="timeDate != null">
            and LEFT (t1.creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
        ) cancel
        from tb_passenger_order
        where 1 = 1
        <if test="timeDate != null">
            AND LEFT (creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
    </select>

    <!--
      订单统计：后台根据年月查询订单 实时单完成单量 预约单完成单量 取消的实时单量 取消的预约单单量
    -->
    <select id="selOrderCountByDate" resultType="java.util.Map" parameterType="java.lang.String">

        select DISTINCT
        LEFT (creat_time, 7) timeDate,
        (select count(*) from tb_passenger_order t1 where order_state = "2" AND end_about = "1"
        <if test="timeDate != null">
            and LEFT (t1.creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
        ) nowComplete,
        (select count(*) from tb_passenger_order t1 where order_state = "3" AND end_about = "1"
        <if test="timeDate != null">
            and LEFT (t1.creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
        ) nowCancel,
        (select count(*) from tb_passenger_order t1 where order_state = "2" AND end_about = "0"
        <if test="timeDate != null">
            and LEFT (t1.creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
        ) orderComplete,
        (select count(*) from tb_passenger_order t1 where order_state = "3" AND end_about = "0"
        <if test="timeDate != null">
            and LEFT (t1.creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
        ) orderCancel
        from tb_passenger_order
        where 1 = 1
        <if test="timeDate != null">
            AND LEFT (creat_time, 7) = #{timeDate,jdbcType=VARCHAR}
        </if>
    </select>

    <!--
      订单统计：后台根据年月查询订单 这个月内每天的用户的单量的统计和完成单量
    -->
    <select id="selOrderCountListByDate" resultType="java.util.Map">

        SELECT
        LEFT (creat_time, 10) timeDate,
        (select count(*) from tb_passenger_order t1 where
        LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) ) totalNumber,
        (select count(*) from tb_passenger_order t1 where
        LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and order_state = "2" ) completeNumber
        FROM
        `tb_passenger_order` t
        WHERE
        LEFT (creat_time, 10) BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        GROUP BY LEFT (creat_time, 10)
        order by LEFT (creat_time, 10) asc

    </select>

    <!--
      订单统计：根据开始时间和结束时间查询每日的订单统计量
    -->
    <select id="selOrderByStartDateEndDate" resultType="java.util.Map">

        SELECT
        LEFT (creat_time, 10) timeDate,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) )
        totalNumber,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and
        end_about = "0" ) orderTotalNumber,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and
        end_about = "1" ) nowTotalNumber,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and
        end_about = "0" and order_state = "3") cancelOrderNumber,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and
        end_about = "0" and order_state = "2") completeOrderNumber,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and
        end_about = "1" and order_state = "3") cancelNowNumber,
        (select count(*) from tb_passenger_order t1 where LEFT (t1.creat_time, 10) = LEFT (t.creat_time, 10) and
        end_about = "1" and order_state = "2") completeNowNumber
        FROM
        `tb_passenger_order` t
        WHERE 1 = 1
        <if test="startDate != null">
            AND LEFT (creat_time, 10) &gt;= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null">
            AND LEFT (creat_time, 10) &lt;= #{endDate,jdbcType=VARCHAR}
        </if>
        GROUP BY LEFT (creat_time, 10)
        order by LEFT (creat_time, 10) asc

    </select>


    <!--
          统计用户的总订单数
        -->
    <select id="totalUserOrder" resultType="java.lang.Integer" parameterType="java.lang.String">

        select
        count(*) total
        from tb_passenger_order
        where user_code = #{userCode,jdbcType=VARCHAR}
    </select>

    <!--
          根据用户的唯一标识，统计用户的订单取消数，订单的完成数
        -->
    <select id="totalUserOrderByState" resultType="java.lang.Integer" parameterType="java.lang.String">

        select
        count(*) total
        from tb_passenger_order
        where user_code = #{userCode,jdbcType=VARCHAR}
        AND order_state = #{orderState,jdbcType=VARCHAR}
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <!--
        根据用户的唯一标识查询是否有正在进行的订单.
     -->
    <select id="selOrderStateByUserCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where user_code = #{userCode,jdbcType=VARCHAR}
        AND flag = "0"
        AND (order_state = "1" OR order_state = "0")
    </select>

    <!--
        根据用户的唯一标识code模糊查找所有订单（可分页）
      -->
    <select id="selPassOrderByUserCode" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where (start_address LIKE #{name,jdbcType=VARCHAR}
        OR end_address LIKE #{name,jdbcType=VARCHAR}
        OR order_number LIKE #{name,jdbcType=VARCHAR})
        AND user_code = #{userCode,jdbcType=VARCHAR}
        <if test="state != null">
            AND order_state = #{state,jdbcType=VARCHAR}
        </if>
        <if test="endAbout != null">
            AND end_about =#{endAbout,jdbcType=VARCHAR}
        </if>
        AND flag = "0"
        ORDER BY update_time DESC
    </select>


    <!--
      后台根据条件查询订单信息（可分页）
    -->
    <select id="selOrderByCondition" resultMap="BaseResultMap"
            parameterType="com.tangmo.zhygzhglxt.entity.dto.OrderDto">

        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where (start_address LIKE #{name,jdbcType=VARCHAR}
        OR end_address LIKE #{name,jdbcType=VARCHAR}
        OR order_number LIKE #{name,jdbcType=VARCHAR})
        <if test="orderState != null">
            AND order_state = #{orderState,jdbcType=VARCHAR}
        </if>
        <if test="endAbout != null">
            AND end_about =#{endAbout,jdbcType=VARCHAR}
        </if>
        <if test="year != null">
            AND YEAR(tb_passenger_order.create_time) = #{year,jdbcType=VARCHAR}
        </if>
        <if test="month != null">
            AND MONTH(tb_passenger_order.create_time) = #{month,jdbcType=VARCHAR}
        </if>
        <if test="day != null">
            AND DAY(tb_passenger_order.create_time) = #{day,jdbcType=VARCHAR}
        </if>
        AND flag = "0"
        ORDER BY update_time DESC
    </select>

    <!--
      根据用户的唯一标识code和类型不同模糊查找所有订单（可分页）订单状态（0未接单 1已接单 2订单完成 3订单已取消）
    -->
    <select id="selPassOrderByUserCodeAndType" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_passenger_order
        where (start_address LIKE #{name,jdbcType=VARCHAR}
        OR end_address LIKE #{name,jdbcType=VARCHAR}
        OR order_number LIKE #{name,jdbcType=VARCHAR})
        AND user_code = #{userCode,jdbcType=VARCHAR}
        <if test="type == 0">
            AND (order_state = "1" OR order_state = "0")
        </if>
        <if test="type == 1">
            AND (order_state = "2" OR order_state = "3")
        </if>
        AND flag = "0"
        ORDER BY update_time DESC
    </select>

    <!--用户修改订单状态-->
    <update id="jtUpdateById" parameterType="com.tangmo.zhygzhglxt.entity.TbPassengerOrder">

        UPDATE tb_passenger_order
        SET order_state = #{state}
        WHERE order_code = #{orderCode}

    </update>

    <!--根据乘客订单的唯一标识修改订单状态-->
    <update id="updateStateByPassengerOrderCode">

        UPDATE tb_passenger_order
        SET order_state = #{state,jdbcType=VARCHAR}
        WHERE order_code = #{passengerOrderCode,jdbcType=VARCHAR}

    </update>

    <!--改变订单的支付方式和订单价格-->
    <update id="updatePayWayPriceByPassengerOrderCode">

        UPDATE tb_passenger_order
        SET pay_way = "1",
        price = #{price,jdbcType=DECIMAL}
        WHERE order_code = #{passengerOrderCode,jdbcType=VARCHAR}

    </update>

    <!--改变订单最后的经度纬度-->
    <update id="updateLastLaLoByPassengerOrderCode">

        UPDATE tb_passenger_order
        SET
        end_latitude = #{la,jdbcType=VARCHAR},
        end_longitude = #{lo,jdbcType=VARCHAR}
        WHERE order_code = #{passengerOrderCode,jdbcType=VARCHAR}

    </update>

    <!--根据乘客订单的唯一标识修改订单状态并且修改订单的支付方式-->
    <update id="updateStatePayByPassengerOrderCode">

        UPDATE tb_passenger_order
        SET order_state = #{state,jdbcType=VARCHAR},
        pay_way = #{payWay,jdbcType=VARCHAR}
        WHERE order_code = #{passengerOrderCode,jdbcType=VARCHAR}

    </update>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_passenger_order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </delete>


    <!--
       动态添加乘客订单
     -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbPassengerOrder">

        insert into tb_passenger_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderCode != null">
                order_code,
            </if>
            <if test="orderNumber != null">
                order_number,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="startAddress != null">
                start_address,
            </if>
            <if test="endAddress != null">
                end_address,
            </if>
            <if test="km != null">
                km,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="peopleNumber != null">
                people_number,
            </if>
            <if test="appointmentTime != null">
                appointment_time,
            </if>
            creat_time,
            update_time,
            <if test="flag != null">
                flag,
            </if>
            <if test="orderState != null">
                order_state,
            </if>
            <if test="startLongitude != null">
                start_longitude,
            </if>
            <if test="startLatitude != null">
                start_latitude,
            </if>
            <if test="endLongitude != null">
                end_longitude,
            </if>
            <if test="endLatitude != null">
                end_latitude,
            </if>
            <if test="endAbout != null">
                end_about,
            </if>
            <if test="tbParmId != null">
                tb_parm_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsDetails != null">
                goods_details,
            </if>
            <if test="dgTime != null">
                dg_time,
            </if>
            <if test="payWay != null">
                pay_way,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="audit != null">
                audit,
            </if>
            <if test="carNumber != null">
                car_number,
            </if>
            <if test="busRoute != null">
                bus_route,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderCode != null">
                #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="orderNumber != null">
                #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="startAddress != null">
                #{startAddress,jdbcType=VARCHAR},
            </if>
            <if test="endAddress != null">
                #{endAddress,jdbcType=VARCHAR},
            </if>
            <if test="km != null">
                #{km,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="peopleNumber != null">
                #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="appointmentTime != null">
                #{appointmentTime,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="orderState != null">
                #{orderState,jdbcType=VARCHAR},
            </if>
            <if test="startLongitude != null">
                #{startLongitude,jdbcType=VARCHAR},
            </if>
            <if test="startLatitude != null">
                #{startLatitude,jdbcType=VARCHAR},
            </if>
            <if test="endLongitude != null">
                #{endLongitude,jdbcType=VARCHAR},
            </if>
            <if test="endLatitude != null">
                #{endLatitude,jdbcType=VARCHAR},
            </if>
            <if test="endAbout != null">
                #{endAbout,jdbcType=VARCHAR},
            </if>
            <if test="tbParmId != null">
                #{tbParmId,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsDetails != null">
                #{goodsDetails,jdbcType=VARCHAR},
            </if>
            <if test="dgTime != null">
                #{dgTime,jdbcType=VARCHAR},
            </if>
            <if test="payWay != null">
                #{payWay,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="audit != null">
                #{audit,jdbcType=VARCHAR},
            </if>
            <if test="carNumber != null">
                #{carNumber,jdbcType=VARCHAR},
            </if>
            <if test="busRoute != null">
                #{busRoute,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbPassengerOrder">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_passenger_order
        <set>
            <if test="orderCode != null">
                order_code = #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="orderNumber != null">
                order_number = #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="startAddress != null">
                start_address = #{startAddress,jdbcType=VARCHAR},
            </if>
            <if test="endAddress != null">
                end_address = #{endAddress,jdbcType=VARCHAR},
            </if>
            <if test="km != null">
                km = #{km,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="peopleNumber != null">
                people_number = #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="appointmentTime != null">
                appointment_time = #{appointmentTime,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null">
                creat_time = #{creatTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="orderState != null">
                order_state = #{orderState,jdbcType=VARCHAR},
            </if>
            <if test="startLongitude != null">
                start_longitude = #{startLongitude,jdbcType=VARCHAR},
            </if>
            <if test="startLatitude != null">
                start_latitude = #{startLatitude,jdbcType=VARCHAR},
            </if>
            <if test="endLongitude != null">
                end_longitude = #{endLongitude,jdbcType=VARCHAR},
            </if>
            <if test="endLatitude != null">
                end_latitude = #{endLatitude,jdbcType=VARCHAR},
            </if>
            <if test="endAbout != null">
                end_about = #{endAbout,jdbcType=VARCHAR},
            </if>
            <if test="tbParmId != null">
                tb_parm_id = #{tbParmId,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsDetails != null">
                goods_details = #{goodsDetails,jdbcType=VARCHAR},
            </if>
            <if test="dgTime != null">
                dg_time = #{dgTime,jdbcType=VARCHAR},
            </if>
            <if test="payWay != null">
                pay_way = #{payWay,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="audit != null">
                audit = #{audit,jdbcType=VARCHAR},
            </if>
            <if test="carNumber != null">
                car_number = #{carNumber,jdbcType=VARCHAR},
            </if>
            <if test="busRoute != null">
                bus_route = #{busRoute,jdbcType=VARCHAR},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>


    <!--后台根据查询所有订单（模糊(开始地，结束地),订单状态,预约实时单查询,分页,）-->
    <select id="jtQueryByList" resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_passenger_order
        WHERE (start_address LIKE #{name,jdbcType=VARCHAR}
        OR end_address LIKE #{name,jdbcType=VARCHAR} OR contact LIKE #{name,jdbcType=VARCHAR}
        OR order_number LIKE #{name,jdbcType=VARCHAR})
        <if test="orderState != null">
            AND order_state =#{orderState,jdbcType=VARCHAR}
        </if>
        <if test="endAbout != null">
            AND end_about= #{endAbout,jdbcType=VARCHAR}
        </if>
        AND flag = 0

    </select>

    <!--
        订单统计：根据开始时间和结束时间且订单类型查询每日的通乡客运的订单统计量(列表)
    -->
    <select id="selOrderByCountry" resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_passenger_order
        WHERE (start_address LIKE #{name,jdbcType=VARCHAR}
        OR end_address LIKE #{name,jdbcType=VARCHAR} OR contact LIKE #{name,jdbcType=VARCHAR}
        OR order_number LIKE #{name,jdbcType=VARCHAR})
        AND tb_parm_id = "1018"
        AND flag = 0
        <if test="orderState != null">
            AND order_state = #{orderState,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and endDate != null">
            AND creat_time BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        </if>


    </select>

    <!--
        订单统计：根据开始时间和结束时间且订单类型查询每日的通乡客运的订单统计量(列表)
    -->
    <select id="selOrderByCountry2" resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_passenger_order
        WHERE (start_address LIKE #{name,jdbcType=VARCHAR}
        OR end_address LIKE #{name,jdbcType=VARCHAR} OR contact LIKE #{name,jdbcType=VARCHAR}
        OR order_number LIKE #{name,jdbcType=VARCHAR})
        AND tb_parm_id = "1018"
        AND flag = 0
        <if test="orderState != null">
            AND order_state =#{orderState,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and endDate != null">
            AND creat_time BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        </if>
        AND order_code IN
        <foreach collection="passegerCodes" open="(" close=")" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </select>


    <!--查询指定订单详情-->
    <select id="jtQueryByListByCode" resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_passenger_order
        WHERE flag = "0"
        AND order_code = #{orderCode,jdbcType=VARCHAR}

    </select>

    <!--删除指定订单（假删）-->
    <update id="jtDelete" parameterType="com.tangmo.zhygzhglxt.entity.TbPassengerOrder">

        UPDATE tb_passenger_order
        SET flag = "1"
        WHERE order_code = #{orderCode,jdbcType=VARCHAR}

    </update>


</mapper>