<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbRegularBusMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbRegularBus">
        <!--
          列匹配实体属性
        -->
        <id column="regular_bus_id" property="regularBusId" jdbcType="VARCHAR"/>
        <result column="regular_bus_code" property="regularBusCode" jdbcType="VARCHAR"/>
        <result column="regular_bus_number" property="regularBusNumber" jdbcType="VARCHAR"/>
        <result column="regular_bus_model" property="regularBusModel" jdbcType="VARCHAR"/>
        <result column="regular_bus_desc" property="regularBusDesc" jdbcType="VARCHAR"/>
        <result column="people_number" property="peopleNumber" jdbcType="INTEGER"/>
        <result column="regular_bus_route" property="regularBusRoute" jdbcType="VARCHAR"/>
        <result column="driver_name" property="driverName" jdbcType="VARCHAR"/>
        <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="regular_bus_type" property="regularBusType" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        regular_bus_id, regular_bus_code, regular_bus_number, regular_bus_model, regular_bus_desc,
        people_number, regular_bus_route, driver_name, driver_phone, state, regular_bus_type,
        create_time, update_time, flag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_regular_bus
        where regular_bus_id = #{regularBusId,jdbcType=VARCHAR}
    </select>


    <!--
        根据路线的唯一标识查询绑定的车辆
      -->
    <select id="selectByBusRoute" parameterType="java.lang.String" resultType="java.lang.String">

        select
        regular_bus_number
        from tb_regular_bus
        where regular_bus_route = #{busRoute,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_regular_bus
        where regular_bus_id = #{regularBusId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbRegularBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_regular_bus (regular_bus_id, regular_bus_code, regular_bus_number,
        regular_bus_model, regular_bus_desc, people_number,
        regular_bus_route, driver_name, driver_phone,
        state, regular_bus_type, create_time,
        update_time, flag)
        values (#{regularBusId,jdbcType=VARCHAR}, #{regularBusCode,jdbcType=VARCHAR},
        #{regularBusNumber,jdbcType=VARCHAR},
        #{regularBusModel,jdbcType=VARCHAR}, #{regularBusDesc,jdbcType=VARCHAR}, #{peopleNumber,jdbcType=INTEGER},
        #{regularBusRoute,jdbcType=VARCHAR}, #{driverName,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR},
        #{state,jdbcType=VARCHAR}, #{regularBusType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbRegularBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_regular_bus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regularBusId != null">
                regular_bus_id,
            </if>
            <if test="regularBusCode != null">
                regular_bus_code,
            </if>
            <if test="regularBusNumber != null">
                regular_bus_number,
            </if>
            <if test="regularBusModel != null">
                regular_bus_model,
            </if>
            <if test="regularBusDesc != null">
                regular_bus_desc,
            </if>
            <if test="peopleNumber != null">
                people_number,
            </if>
            <if test="regularBusRoute != null">
                regular_bus_route,
            </if>
            <if test="driverName != null">
                driver_name,
            </if>
            <if test="driverPhone != null">
                driver_phone,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="regularBusType != null">
                regular_bus_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regularBusId != null">
                #{regularBusId,jdbcType=VARCHAR},
            </if>
            <if test="regularBusCode != null">
                #{regularBusCode,jdbcType=VARCHAR},
            </if>
            <if test="regularBusNumber != null">
                #{regularBusNumber,jdbcType=VARCHAR},
            </if>
            <if test="regularBusModel != null">
                #{regularBusModel,jdbcType=VARCHAR},
            </if>
            <if test="regularBusDesc != null">
                #{regularBusDesc,jdbcType=VARCHAR},
            </if>
            <if test="peopleNumber != null">
                #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="regularBusRoute != null">
                #{regularBusRoute,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="driverPhone != null">
                #{driverPhone,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="regularBusType != null">
                #{regularBusType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbRegularBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_regular_bus
        <set>
            <if test="regularBusCode != null">
                regular_bus_code = #{regularBusCode,jdbcType=VARCHAR},
            </if>
            <if test="regularBusNumber != null">
                regular_bus_number = #{regularBusNumber,jdbcType=VARCHAR},
            </if>
            <if test="regularBusModel != null">
                regular_bus_model = #{regularBusModel,jdbcType=VARCHAR},
            </if>
            <if test="regularBusDesc != null">
                regular_bus_desc = #{regularBusDesc,jdbcType=VARCHAR},
            </if>
            <if test="peopleNumber != null">
                people_number = #{peopleNumber,jdbcType=INTEGER},
            </if>
            <if test="regularBusRoute != null">
                regular_bus_route = #{regularBusRoute,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="driverPhone != null">
                driver_phone = #{driverPhone,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="regularBusType != null">
                regular_bus_type = #{regularBusType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
        </set>
        where regular_bus_id = #{regularBusId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbRegularBus">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_regular_bus
        set regular_bus_code = #{regularBusCode,jdbcType=VARCHAR},
        regular_bus_number = #{regularBusNumber,jdbcType=VARCHAR},
        regular_bus_model = #{regularBusModel,jdbcType=VARCHAR},
        regular_bus_desc = #{regularBusDesc,jdbcType=VARCHAR},
        people_number = #{peopleNumber,jdbcType=INTEGER},
        regular_bus_route = #{regularBusRoute,jdbcType=VARCHAR},
        driver_name = #{driverName,jdbcType=VARCHAR},
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
        state = #{state,jdbcType=VARCHAR},
        regular_bus_type = #{regularBusType,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR}
        where regular_bus_id = #{regularBusId,jdbcType=VARCHAR}
    </update>
</mapper>