<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbRouteDetailMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbRouteDetail">
        <!--
          表字段匹配实体属性名
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="route_detail_code" property="routeDetailCode" jdbcType="VARCHAR"/>
        <result column="route_code" property="routeCode" jdbcType="VARCHAR"/>
        <result column="lo" property="lo" jdbcType="VARCHAR"/>
        <result column="la" property="la" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="direct" property="direct" jdbcType="VARCHAR"/>
        <result column="speed" property="speed" jdbcType="VARCHAR"/>
        <result column="gps_time" property="gpsTime" jdbcType="VARCHAR"/>
        <result column="tm" property="tm" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--
          列字段名
        -->
        id, route_detail_code, route_code, lo, la, create_time, update_time, flag, state, direct,speed,gps_time,tm,
        sort, address
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_route_detail
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--
        根据路线的唯一标识查询要绘制的路线明细的经纬度
      -->
    <select id="getBusRoutelDetails" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_route_detail
        where route_code = #{routeCode,jdbcType=VARCHAR}
        AND flag = "0"
        ORDER BY sort ASC

    </select>

    <!--
        查询这两点之间所有的经纬度点，根据序号排序（升序）
      -->
    <select id="selectBySort" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_route_detail
        where route_code = #{routeCode,jdbcType=VARCHAR}
        AND flag = "0"
        AND tb_route_detail.sort BETWEEN #{sort1,jdbcType=INTEGER} and #{sort2,jdbcType=INTEGER}
        ORDER BY sort ASC

    </select>

    <!--
        根据路线的唯一标识查询要绘制的路线明细的经纬度
      -->
    <select id="selectByDistance" resultMap="BaseResultMap">

        select
        *
        , ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN( ( #{la,jdbcType=VARCHAR} * PI() / 180 - la * PI() / 180 ) / 2 ) , 2 )
        +
        COS( #{la,jdbcType=VARCHAR} * PI( ) / 180 ) * COS( la * PI( ) / 180 )
        * POW( SIN( ( #{lo,jdbcType=VARCHAR} * PI() / 180 - lo * PI() / 180 ) / 2 ) , 2 )
        )
        ) * 1000
        ) AS distance
        from tb_route_detail
        where route_code = #{routeCode,jdbcType=VARCHAR}
        and flag = "0"
        order by distance asc
        limit 0,1

    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_route_detail
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbRouteDetail">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_route_detail (id, route_detail_code, route_code,
        lo, la, create_time,
        update_time, flag, state,
        sort, address)
        values (#{id,jdbcType=VARCHAR}, #{routeDetailCode,jdbcType=VARCHAR}, #{routeCode,jdbcType=VARCHAR},
        #{lo,jdbcType=VARCHAR}, #{la,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
        #{sort,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR})
    </insert>

    <!--
        动态添加
      -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbRouteDetail">

        insert into tb_route_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="routeDetailCode != null">
                route_detail_code,
            </if>
            <if test="routeCode != null">
                route_code,
            </if>
            <if test="lo != null">
                lo,
            </if>
            <if test="la != null">
                la,
            </if>
            create_time,
            update_time,
            <if test="flag != null">
                flag,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="direct != null">
                direct,
            </if>
            <if test="speed != null">
                speed,
            </if>
            <if test="gpsTime != null">
                gps_time,
            </if>
            <if test="tm != null">
                tm,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="routeDetailCode != null">
                #{routeDetailCode,jdbcType=VARCHAR},
            </if>
            <if test="routeCode != null">
                #{routeCode,jdbcType=VARCHAR},
            </if>
            <if test="lo != null">
                #{lo,jdbcType=VARCHAR},
            </if>
            <if test="la != null">
                #{la,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="direct != null">
                #{direct,jdbcType=VARCHAR},
            </if>
            <if test="speed != null">
                #{speed,jdbcType=VARCHAR},
            </if>
            <if test="gpsTime != null">
                #{gpsTime,jdbcType=VARCHAR},
            </if>
            <if test="tm != null">
                #{tm,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbRouteDetail">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_route_detail
        <set>
            <if test="routeDetailCode != null">
                route_detail_code = #{routeDetailCode,jdbcType=VARCHAR},
            </if>
            <if test="routeCode != null">
                route_code = #{routeCode,jdbcType=VARCHAR},
            </if>
            <if test="lo != null">
                lo = #{lo,jdbcType=VARCHAR},
            </if>
            <if test="la != null">
                la = #{la,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbRouteDetail">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_route_detail
        set route_detail_code = #{routeDetailCode,jdbcType=VARCHAR},
        route_code = #{routeCode,jdbcType=VARCHAR},
        lo = #{lo,jdbcType=VARCHAR},
        la = #{la,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR},
        state = #{state,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER},
        address = #{address,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>