<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbSysModuleMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbSysModule">
        <!--
          列匹配实行属性
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="father" property="father" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_userid" property="createUserid" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_userid" property="updateUserid" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          列名
        -->
        id, code, name, url, level, father, create_time, create_userid, update_time, update_userid,
        flag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_sys_module
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--
        根据模块的code查找模块
      -->
    <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_sys_module
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--
        模糊分页查找模块
      -->
    <select id="selSysModule" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_sys_module
        where tb_sys_module.name LIKE #{name,jdbcType=VARCHAR}
    </select>

    <!--根据多个模块id查找多个模块信息-->
    <select id="selByModuleCodes" resultMap="BaseResultMap">
        SELECT * FROM tb_sys_module where code IN
        <foreach collection="array" open="(" close=")" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_sys_module
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbSysModule">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_sys_module (id, code, name,
        url, level, father,
        create_time, create_userid, update_time,
        update_userid, flag)
        values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{father,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{updateUserid,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
    </insert>

    <!--
        动态添加模块信息
      -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbSysModule">

        insert into tb_sys_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="father != null">
                father,
            </if>
            create_time,
            <if test="createUserid != null">
                create_userid,
            </if>
            update_time,
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="father != null">
                #{father,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="createUserid != null">
                #{createUserid,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--
        根据模块的code动态修改模块.
      -->
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbSysModule">

        update tb_sys_module
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="father != null">
                father = #{father,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbSysModule">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_sys_module
        set code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        level = #{level,jdbcType=VARCHAR},
        father = #{father,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_userid = #{createUserid,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_userid = #{updateUserid,jdbcType=VARCHAR},
        flag = #{flag,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <!--
        根据模块的code概念性删除模块
      -->
    <update id="deleteByCode" parameterType="java.lang.String">

        update tb_sys_module
        set
        flag = "1"
        where code = #{code,jdbcType=VARCHAR}
    </update>
</mapper>