<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbSysUserMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbSysUser">
        <!--
          字段匹配实体属性
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_card" property="userCard" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_userid" property="createUserid" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_userid" property="updateUserid" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="idcard_face" property="idcardFace" jdbcType="VARCHAR"/>
        <result column="idcard_back" property="idcardBack" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="born" property="born" jdbcType="DATE"/>
        <result column="native_place" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="pay_password" property="payPassword" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="parm_id" property="parmId" jdbcType="VARCHAR"/>
        <result column="parm_type_id" property="parmTypeId" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        <!--
          列对应实体属性
        -->
        id, code, real_name, user_name, nick_name, password, user_card, img_url, phone, create_time,
        create_userid, update_time, update_userid, state, user_status, email, idcard_face,
        idcard_back, sex, age, born, native_place, province, city, area,
        role_code,balance,pay_password,token,flag,parm_id,parm_type_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_sys_user
        where id = #{id,jdbcType=VARCHAR}
    </select>


    <!--
        根据用户的唯一标识查询信息
      -->
    <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">

        select
        <include refid="Base_Column_List"/>
        from tb_sys_user
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--
        根据用户身份查询所有的用户
      -->
    <select id="selAllUserByStatus" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_sys_user
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--
        后台统计用户数量
      -->
    <select id="selAllUserCount" resultType="java.util.Map">

        select distinct
        (select count(*) from tb_sys_user where user_status = "0" ) system,
        (select count(*) from tb_sys_user where user_status = "1" ) passenger,
        (select count(*) from tb_sys_user where user_status = "2" ) driver
        from tb_sys_user

    </select>

    <!--
        后台根据开始时间和结束时间统计用户注册数量
      -->
    <select id="selAllUserCountByDate" resultType="java.util.Map">

        SELECT
        LEFT (create_time, 10) timeDate,
        (select count(*) from tb_sys_user t1 where LEFT (t1.create_time, 10) = LEFT (t.create_time, 10) and user_status
        != "0" ) total
        FROM
        tb_sys_user t
        WHERE 1 = 1
        <if test="startDate != null">
            AND LEFT (create_time, 10) &gt;= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null">
            AND LEFT (create_time, 10) &lt;= #{endDate,jdbcType=VARCHAR}
        </if>
        GROUP BY LEFT (create_time, 10)
        order by LEFT (create_time, 10) asc

    </select>

    <!--
        后台按年统计用户数量
      -->
    <select id="selAllUserCountByYear" resultType="java.util.Map">

        SELECT
        LEFT (create_time, 7) timeDate,
        (select count(*) from tb_sys_user t1 where
        LEFT (t1.create_time, 7) = LEFT (t.create_time, 7) and user_status = 1 ) passenger,
        (select count(*) from tb_sys_user t1 where
        LEFT (t1.create_time, 7) = LEFT (t.create_time, 7) and user_status = 2 ) driver
        FROM
        `tb_sys_user` t
        WHERE
        LEFT (create_time, 7) BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        GROUP BY LEFT (create_time, 7)
        order by LEFT (create_time, 7) asc

    </select>

    <!--
        后台按月统计用户数量
      -->
    <select id="selAllUserCountByMonth" resultType="java.util.Map">

        SELECT
        LEFT (create_time, 10) timeDate,
        (select count(*) from tb_sys_user t1 where
        LEFT (t1.create_time, 10) = LEFT (t.create_time, 10) and user_status = 1 ) passenger,
        (select count(*) from tb_sys_user t1 where
        LEFT (t1.create_time, 10) = LEFT (t.create_time, 10) and user_status = 2 ) driver
        FROM
        `tb_sys_user` t
        WHERE
        LEFT (create_time, 10) BETWEEN #{startDate,jdbcType=VARCHAR} and #{endDate,jdbcType=VARCHAR}
        GROUP BY LEFT (create_time, 10)
        order by LEFT (create_time, 10) asc

    </select>

    <!--
        后台查询该月的天数
      -->
    <select id="selectByDay" resultType="java.lang.Integer" parameterType="java.lang.String">

        SELECT (SELECT DAY(LAST_DAY(CONCAT(#{yearMonth,jdbcType=VARCHAR},'-01'))))

    </select>

    <!--
        根据用户的唯一标识获取token
      -->
    <select id="selectToken" parameterType="java.lang.String" resultType="java.lang.String">

        select
        token
        from tb_sys_user
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <!--
          根据手机号查找用户
        -->
    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_user
        where phone = #{phone,jdbcType=VARCHAR}
        AND flag = "0"
        ORDER BY create_time DESC
    </select>

    <!--
          根据用户名查找用户
      -->
    <select id="selectByUserName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_user
        where user_name = #{userName,jdbcType=VARCHAR}
        AND flag = "0"
        ORDER BY create_time DESC
    </select>


    <!--
         查询所有用户
     -->
    <select id="selAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_user
        where (phone LIKE #{name,jdbcType=VARCHAR} OR user_name LIKE #{name,jdbcType=VARCHAR} OR nick_name LIKE
        #{name,jdbcType=VARCHAR})
        <if test="userStatus != null">
            AND user_status = #{userStatus,jdbcType=VARCHAR}
        </if>
        AND flag = "0"
        ORDER BY create_time DESC
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_sys_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <!--
      根据用户的唯一标识code修改用户的状态
      -->
    <update id="updateStateByUserCode">

        UPDATE tb_sys_user
        SET state = #{state,jdbcType=VARCHAR}
        WHERE code = #{code,jdbcType=VARCHAR}
    </update>

    <!--
      根据用户的唯一标识修改用户的余额
      -->
    <update id="updateBanlanceByUserCode">

        UPDATE tb_sys_user
        SET balance = balance + #{price,jdbcType=DECIMAL}
        WHERE code = #{userCode,jdbcType=VARCHAR}
    </update>

    <!--
    动态添加用户
     -->
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbSysUser">

        insert into tb_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="userCard != null">
                user_card,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="phone != null">
                phone,
            </if>
            create_time,
            <if test="createUserid != null">
                create_userid,
            </if>
            update_time,
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="idcardFace != null">
                idcard_face,
            </if>
            <if test="idcardBack != null">
                idcard_back,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="born != null">
                born,
            </if>
            <if test="nativePlace != null">
                native_place,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="payPassword != null">
                pay_password,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="parmId != null">
                parm_id,
            </if>
            <if test="parmTypeId != null">
                parm_type_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userCard != null">
                #{userCard,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="createUserid != null">
                #{createUserid,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="idcardFace != null">
                #{idcardFace,jdbcType=VARCHAR},
            </if>
            <if test="idcardBack != null">
                #{idcardBack,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="born != null">
                #{born,jdbcType=DATE},
            </if>
            <if test="nativePlace != null">
                #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="payPassword != null">
                #{pay_password,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="parmId != null">
                #{parmId,jdbcType=VARCHAR},
            </if>
            <if test="parmTypeId != null">
                #{parmTypeId,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--
         注册用户
     -->
    <insert id="insertAppUser" parameterType="com.tangmo.zhygzhglxt.entity.dto.UserDto"
            useGeneratedKeys="true" keyProperty="id">
        insert into tb_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="userCard != null">
                user_card,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="phone != null">
                phone,
            </if>
            create_time,
            <if test="createUserid != null">
                create_userid,
            </if>
            update_time,
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="idcardFace != null">
                idcard_face,
            </if>
            <if test="idcardBack != null">
                idcard_back,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="born != null">
                born,
            </if>
            <if test="nativePlace != null">
                native_place,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="payPassword != null">
                pay_password,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="parmId != null">
                parm_id,
            </if>
            <if test="parmTypeId != null">
                parm_type_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userCard != null">
                #{userCard,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="createUserid != null">
                #{createUserid,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="idcardFace != null">
                #{idcardFace,jdbcType=VARCHAR},
            </if>
            <if test="idcardBack != null">
                #{idcardBack,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="born != null">
                #{born,jdbcType=DATE},
            </if>
            <if test="nativePlace != null">
                #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="payPassword != null">
                #{payPassword,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="parmId != null">
                #{parmId,jdbcType=VARCHAR},
            </if>
            <if test="parmTypeId != null">
                #{parmTypeId,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--
          根据用户手机号重置密码
     -->
    <update id="updatePwdByPhone" parameterType="com.tangmo.zhygzhglxt.entity.dto.UserDto">
        UPDATE tb_sys_user SET password = #{password,jdbcType=VARCHAR}
        WHERE phone = #{phone,jdbcType=VARCHAR}
    </update>

    <!--
          根据用户唯一标识code修改用户token
     -->
    <update id="updateToken">

        UPDATE tb_sys_user SET token = #{token,jdbcType=VARCHAR}
        WHERE code = #{code,jdbcType=VARCHAR}
    </update>

    <!--
          根据用户唯一标识code修改用户的身份
     -->
    <update id="updateStatusByCode">

        UPDATE tb_sys_user
        SET
        user_status = #{status,jdbcType=VARCHAR}
        WHERE code = #{code,jdbcType=VARCHAR}
    </update>


    <!--
          修改app用户个人信息
     -->
    <update id="updateByAppCode" parameterType="com.tangmo.zhygzhglxt.entity.dto.UserDto">

        UPDATE tb_sys_user
        <set>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userCard != null">
                user_card = #{userCard,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="idcardFace != null">
                idcard_face = #{idcardFace,jdbcType=VARCHAR},
            </if>
            <if test="idcardBack != null">
                idcard_back = #{idcardBack,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="born != null">
                born = #{born,jdbcType=DATE},
            </if>
            <if test="nativePlace != null">
                native_place = #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="payPassword != null">
                pay_password = #{payPassword,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR}
    </update>


    <!--
          修改app用户的电话号码
     -->
    <update id="updateUserPhone" parameterType="com.tangmo.zhygzhglxt.entity.dto.UserDto">

        UPDATE tb_sys_user
        set phone = #{phone,jdbcType=VARCHAR}
        where code = #{code,jdbcType=VARCHAR}
    </update>

    <!--
          修改app用户的密码
     -->
    <update id="updatePwd">

        UPDATE tb_sys_user
        set password = #{password,jdbcType=VARCHAR}
        where code = #{code,jdbcType=VARCHAR}
    </update>

    <!--
          修改app用户的支付密码
     -->
    <update id="updatePayPwd">
        UPDATE tb_sys_user
        set pay_password = #{payPassword,jdbcType=VARCHAR}
        where code = #{code,jdbcType=VARCHAR}
    </update>

    <!--
        概念性删除
      -->
    <update id="deleteByCode" parameterType="java.lang.String">

        update tb_sys_user
        set flag = "1"
        where code = #{code,jdbcType=VARCHAR}
    </update>


    <!--
        动态修改用户信息
      -->
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbSysUser">

        update tb_sys_user
        <set>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userCard != null">
                user_card = #{userCard,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="idcardFace != null">
                idcard_face = #{idcardFace,jdbcType=VARCHAR},
            </if>
            <if test="idcardBack != null">
                idcard_back = #{idcardBack,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="born != null">
                born = #{born,jdbcType=DATE},
            </if>
            <if test="nativePlace != null">
                native_place = #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="payPassword != null">
                pay_password = #{payPassword,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR}
    </update>


    <!--根据用户唯一标识查找用户详情信息-->
    <select id="jtQueryById" resultMap="BaseResultMap">

        SELECT
        id,
        CODE,
        real_name,
        user_name,
        nick_name,
        PASSWORD,
        user_card,
        img_url,
        phone,
        create_time,
        create_userid,
        update_time,
        update_userid,
        state,
        user_status,
        email,
        idcard_face,
        idcard_back,
        sex,
        age,
        born,
        native_place,
        province,
        city,
        AREA,
        role_code,
        balance,
        pay_password,
        token,
        flag,
        parm_id,
        parm_type_id
        FROM tb_sys_user
        WHERE flag = 0
        AND CODE =#{code}

    </select>

    <!--查询所有车主-->
    <select id="jtQueryList" resultMap="BaseResultMap">

        SELECT
        id,
        CODE,
        real_name,
        user_name,
        nick_name,
        PASSWORD,
        user_card,
        img_url,
        phone,
        create_time,
        create_userid,
        update_time,
        update_userid,
        state,
        user_status,
        email,
        idcard_face,
        idcard_back,
        sex,
        age,
        born,
        native_place,
        province,
        city,
        AREA,
        role_code,
        balance,
        pay_password,
        token,
        flag,
        parm_id,
        parm_type_id
        FROM tb_sys_user
        WHERE flag = 0
        <if test="userStatus != null">
            AND user_status = #{userStatus,jdbcType=VARCHAR}
        </if>
        AND(real_name LIKE #{name} or user_name LIKE #{name} or nick_name LIKE #{name})
        <if test="parmId != null">
            AND parm_id=#{parmId,jdbcType=VARCHAR}
        </if>
        <if test="parmTypeId != null">
            AND parm_type_id=#{parmTypeId,jdbcType=VARCHAR}
        </if>

    </select>

</mapper>