<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhygzhglxt.dao.TbTravelMapper">
    <resultMap id="BaseResultMap" type="com.tangmo.zhygzhglxt.entity.TbTravel">
        <!--
          列匹配实体属性
        -->
        <id column="travel_id" property="travelId" jdbcType="VARCHAR"/>
        <result column="travel_code" property="travelCode" jdbcType="VARCHAR"/>
        <result column="bus_code" property="busCode" jdbcType="VARCHAR"/>
        <result column="bus_number" property="busNumber" jdbcType="VARCHAR"/>
        <result column="bus_lo" property="busLo" jdbcType="VARCHAR"/>
        <result column="bus_la" property="busLa" jdbcType="VARCHAR"/>
        <result column="travel_state" property="travelState" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          列名
        -->
        travel_id, travel_code, bus_code, bus_number, bus_lo, bus_la, travel_state, create_time,
        update_time, flag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select
        <include refid="Base_Column_List"/>
        from tb_travel
        where travel_id = #{travelId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        delete from tb_travel
        where travel_id = #{travelId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.tangmo.zhygzhglxt.entity.TbTravel">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_travel (travel_id, travel_code, bus_code,
        bus_number, bus_lo, bus_la,
        travel_state, create_time, update_time,
        flag)
        values (#{travelId,jdbcType=VARCHAR}, #{travelCode,jdbcType=VARCHAR}, #{busCode,jdbcType=VARCHAR},
        #{busNumber,jdbcType=VARCHAR}, #{busLo,jdbcType=VARCHAR}, #{busLa,jdbcType=VARCHAR},
        #{travelState,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{flag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tangmo.zhygzhglxt.entity.TbTravel">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into tb_travel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="travelId != null">
                travel_id,
            </if>
            <if test="travelCode != null">
                travel_code,
            </if>
            <if test="busCode != null">
                bus_code,
            </if>
            <if test="busNumber != null">
                bus_number,
            </if>
            <if test="busLo != null">
                bus_lo,
            </if>
            <if test="busLa != null">
                bus_la,
            </if>
            <if test="travelState != null">
                travel_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="travelId != null">
                #{travelId,jdbcType=VARCHAR},
            </if>
            <if test="travelCode != null">
                #{travelCode,jdbcType=VARCHAR},
            </if>
            <if test="busCode != null">
                #{busCode,jdbcType=VARCHAR},
            </if>
            <if test="busNumber != null">
                #{busNumber,jdbcType=VARCHAR},
            </if>
            <if test="busLo != null">
                #{busLo,jdbcType=VARCHAR},
            </if>
            <if test="busLa != null">
                #{busLa,jdbcType=VARCHAR},
            </if>
            <if test="travelState != null">
                #{travelState,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhygzhglxt.entity.TbTravel">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_travel
        <set>
            <if test="travelCode != null">
                travel_code = #{travelCode,jdbcType=VARCHAR},
            </if>
            <if test="busCode != null">
                bus_code = #{busCode,jdbcType=VARCHAR},
            </if>
            <if test="busNumber != null">
                bus_number = #{busNumber,jdbcType=VARCHAR},
            </if>
            <if test="busLo != null">
                bus_lo = #{busLo,jdbcType=VARCHAR},
            </if>
            <if test="busLa != null">
                bus_la = #{busLa,jdbcType=VARCHAR},
            </if>
            <if test="travelState != null">
                travel_state = #{travelState,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
        </set>
        where travel_id = #{travelId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangmo.zhygzhglxt.entity.TbTravel">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tb_travel
        set travel_code = #{travelCode,jdbcType=VARCHAR},
        bus_code = #{busCode,jdbcType=VARCHAR},
        bus_number = #{busNumber,jdbcType=VARCHAR},
        bus_lo = #{busLo,jdbcType=VARCHAR},
        bus_la = #{busLa,jdbcType=VARCHAR},
        travel_state = #{travelState,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=VARCHAR}
        where travel_id = #{travelId,jdbcType=VARCHAR}
    </update>
</mapper>