<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhjy.app.modules.dao.AppNavigationBeanMapper">
	<resultMap id="BaseResultMap"
		type="com.tangmo.zhjy.app.modules.bean.AppNavigationBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="freeze" property="freeze" jdbcType="INTEGER" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="rank" property="rank" jdbcType="INTEGER" />
		<result column="page_view" property="pageView" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, icon, url, freeze, is_show, rank, page_view
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from app_navigation
		where id = #{id,jdbcType=INTEGER} and freeze=0 and is_show=0
	</select>
	<select id="findByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_navigation
		where name like #{name,jdbcType=VARCHAR} and freeze=0 and is_show=0 order by  rank desc
	</select>
	<!-- 页面展示的所有菜单 -->
	<select id="appShow" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_navigation
		where freeze=0 and is_show=0
		order by rank desc
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from app_navigation
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tangmo.zhjy.app.modules.bean.AppNavigationBean">
		insert into app_navigation ( name, icon,
		url, freeze, 
		rank, page_view)
		values (#{name,jdbcType=VARCHAR},
		#{icon,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR}, #{freeze,jdbcType=INTEGER}, 
		#{rank,jdbcType=INTEGER}, #{pageView,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.tangmo.zhjy.app.modules.bean.AppNavigationBean">
		insert into app_navigation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="freeze != null">
				freeze,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="pageView != null">
				page_view,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="freeze != null">
				#{freeze,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=INTEGER},
			</if>
			<if test="pageView != null">
				#{pageView,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhjy.app.modules.bean.AppNavigationBean">
		update app_navigation
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="freeze != null">
				freeze = #{freeze,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=INTEGER},
			</if>
			<if test="pageView != null">
				page_view = #{pageView,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tangmo.zhjy.app.modules.bean.AppNavigationBean">
		update app_navigation
		set name = #{name,jdbcType=VARCHAR},
		icon = #{icon,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		freeze = #{freeze,jdbcType=INTEGER},
		is_show = #{isShow,jdbcType=INTEGER},
		rank = #{rank,jdbcType=INTEGER},
		page_view = #{pageView,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>