<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhjy.system.modules.dao.ShopGoodsDao" >

    <resultMap id="BaseResultMap" type="com.tangmo.zhjy.system.modules.bean.ShopGoods" >
        <id column="sg_id" property="sgId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_content" property="shopContent" jdbcType="VARCHAR"/>
        <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
        <result column="service_type" property="serviceType" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="discountNote" property="discountNote" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="DetailResultMap" type="com.tangmo.zhjy.system.modules.vo.ShopServiceVO" >
        <id column="sg_id" property="sgId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="nike_name" property="username" jdbcType="VARCHAR"/>
        <result column="headImage" property="avatarId" jdbcType="VARCHAR"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_content" property="shopContent" jdbcType="VARCHAR"/>
        <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
        <result column="service_type" property="serviceType" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="location_lat" property="locationLat" jdbcType="VARCHAR"/>
        <result column="location_lng" property="locationLng" jdbcType="VARCHAR"/>
        <result column="discount_note" property="discountNote" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SimpleResultMap" type="com.tangmo.zhjy.system.modules.vo.SimpleShopGoodsVO" >
        <id column="sg_id" property="sgId" jdbcType="INTEGER"/>
        <result column="us_id" property="usId" jdbcType="INTEGER"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_content" property="shopContent" jdbcType="VARCHAR"/>
        <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
        <result column="service_type" property="serviceType" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >

    </sql>
    <insert id="insertSelective" parameterType="com.tangmo.zhjy.system.modules.bean.ShopGoods">
            insert into shop_goods
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="imgId != null">
                    img_id,
                </if>
                <if test="userId != null">
                    user_id,
                </if>
                <if test="shopName != null">
                    shop_name,
                </if>
                <if test="shopContent != null">
                    shop_content,
                </if>
                <if test="serviceType != null">
                    service_type,
                </if>
                <if test="price != null">
                    price,
                </if>
                <if test="mobile != null">
                    mobile,
                </if>
                <if test="address != null">
                    address,
                </if>
                <if test="discountNote != null">
                    discount_note,
                </if>
                <if test="city != null">
                    city,
                </if>
                <if test="district != null">
                    district,
                </if>
                <if test="locationLat != null">
                    location_lat,
                </if>
                <if test="locationLng != null">
                    location_lng,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="imgId != null">
                    #{imgId,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    #{userId,jdbcType=INTEGER},
                </if>
                <if test="shopName != null">
                    #{shopName,jdbcType=VARCHAR},
                </if>
                <if test="shopContent != null">
                    #{shopContent,jdbcType=VARCHAR},
                </if>
                <if test="serviceType != null">
                    #{serviceType,jdbcType=TINYINT},
                </if>
                <if test="price != null">
                    #{price,jdbcType=DOUBLE},
                </if>
                <if test="mobile != null">
                    #{mobile,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    #{address,jdbcType=VARCHAR},
                </if>
                <if test="discountNote != null">
                    #{discountNote,jdbcType=VARCHAR},
                </if>
                <if test="city != null">
                    #{city,jdbcType=VARCHAR},
                </if>
                <if test="district != null">
                    #{district,jdbcType=VARCHAR},
                </if>
                <if test="locationLat != null">
                    #{locationLat,jdbcType=VARCHAR},
                </if>
                <if test="locationLng != null">
                    #{locationLng,jdbcType=VARCHAR},
                </if>
            </trim>
    </insert>

    <update id="updateById" parameterType="com.tangmo.zhjy.system.modules.bean.ShopGoods">
        UPDATE shop_goods
        <set>
            <if test="shopName != null">
                shop_name = #{shopName},
            </if>
            <if test="shopContent != null">
                shop_content = #{shopContent},
            </if>
            <if test="serviceType != null">
                service_type = #{serviceType},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="discountNote != null">
                discount_note = #{discountNote},
            </if>
            updatetime = now()
        </set>
        WHERE sg_id = #{sgId,jdbcType=INTEGER}
    </update>

    <select id="selectListByUsId" resultMap="BaseResultMap">
        SELECT img_id,goods_name,goods_content,goods_type,goods_price
        FROM shop_goods WHERE us_id = #{usId}
    </select>
    <!--查询同城服务信息-->
    <select id="selectByState" resultMap="SimpleResultMap">
        SELECT sg_id,img_id,shop_name,shop_content,price,city,district,user_id,mobile,address
        FROM shop_goods WHERE state = #{state}
        <if test="name != null"> AND shop_name like '%${name}%'</if>
        order by sg_id desc
    </select>

    <select id="selectUserShopGoods" resultMap="SimpleResultMap">
        SELECT sg_id,img_id,shop_name,shop_content,price,city,district
        FROM shop_goods WHERE user_id = #{userId} limit #{start},#{end}
    </select>

    <select id="selectByCondition" resultMap="SimpleResultMap">
        SELECT sg_id,img_id,shop_name,shop_content,price,city,district
        FROM shop_goods WHERE service_type = #{type}
        <if test="city != null"> AND city = #{city} </if>
        <if test="district != null"> AND district = #{district} </if>
        <if test="priceStart != null"> AND price &gt;= #{priceStart} </if>
        <if test="priceEnd != null"> AND price &lt;= #{priceEnd} </if>
        <if test="price == 0"> ORDER BY price</if>
        <if test="price == 1">ORDER BY price DESC </if>
        limit #{start},#{end}
    </select>

    <select id="selectById" resultMap="DetailResultMap">
        SELECT sg.sg_id,sg.user_id,ui.nike_name,ui.headImage,sg.city,sg.shop_name,sg.shop_content,
         sg.img_id,sg.service_type,sg.price,sg.discount_note,sg.mobile,sg.address,sg.createtime,sg.location_lng,
         sg.location_lat
         FROM shop_goods sg LEFT JOIN user ui on sg.user_id = ui.id
         WHERE sg.sg_id = #{sgId}
    </select>

    <select id="selectQlList">
        SELECT img_id,goods_name,goods_content,goods_type,goods_price FROM shop_goods
        WHERE is_quality = 1 limit #{start},#{end}
    </select>

    <delete id="deleteById">
        DELETE FROM shop_goods WHERE sg_id = #{sgId}
    </delete>


    <delete id="delectUser">


    </delete>

    <!--审核同城服务信息-->
    <update id="auditById">
        UPDATE shop_goods set
            state=#{state,jdbcType=INTEGER},
            updatetime = now()
        WHERE sg_id = #{sgId,jdbcType=INTEGER}
    </update>
</mapper>