<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhjy.system.modules.dao.SysCommunityBeanMapper">
					
	<resultMap id="BaseResultMap"
		type="com.tangmo.zhjy.system.modules.bean.SysCommunityBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="logo" property="logo" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="intro" property="intro" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="isAttention" property="isAttention2" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, logo, name, intro, longitude, latitude, address, phone,
		province,
		city, district,
		is_show
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from app_community
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 根据用户编号查找我所关注的社区 -->
	<select id="findAttention" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_community
		where id in (select community_id from
		app_community_user where
		user_id=#{userId,jdbcType=INTEGER}) and
		is_show=0 order by id desc;
	</select>
	<!-- 根据管理员编号查询关联社区 -->
	<select id="findBySysUserId" resultType="java.lang.Integer">

		SELECT community_id from
		app_community_sysuser where
		sys_user_id=#{userId};
	</select>

	<!-- 根据管理员编号查询关联社区 -->
	<select id="findBySysPageBySysUserId"  resultMap="BaseResultMap">

		select
		<include refid="Base_Column_List" />
		from app_community
		where name like #{name,jdbcType=VARCHAR}
		<if test="userId!=null">
			AND app_community.id in(
			SELECT community_id from
			app_community_sysuser where
			sys_user_id=#{userId}
			)
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		app_community
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tangmo.zhjy.system.modules.bean.SysCommunityBean" useGeneratedKeys="true" keyProperty="id">
		insert into app_community
		(logo, name,
		intro, longitude, latitude,
		address, phone, province,
		city,
		district, is_show
		)
		values (#{logo,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{intro,jdbcType=VARCHAR},
		#{longitude,jdbcType=VARCHAR},
		#{latitude,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{district,jdbcType=VARCHAR},
		#{isShow,jdbcType=INTEGER}
		)
	</insert>
	<!-- 分页查询 -->
	<select id="findBySysPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_community
		where name like #{name,jdbcType=VARCHAR}
	</select>


	<!-- 查询所有 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select a.*,b.id 'isAttention'
		from
		app_community a left join (select id,community_id from
		app_community_user where user_id=#{userId,jdbcType=INTEGER}) b on
		a.id=b.community_id where is_show=0
	</select>


	<!-- 根据社区消息外键查找社区 -->
	<select id="findByUnreadCommunity" resultMap="BaseResultMap">
		select * from app_community where id in
		<foreach collection="list" item="bean" open="(" separator=","
			close=");">
			#{bean.communityId,jdbcType=INTEGER}
		</foreach>

	</select>
	<insert id="insertSelective" parameterType="com.tangmo.zhjy.system.modules.bean.SysCommunityBean">
		insert into app_community
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="logo != null">
				logo,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="intro != null">
				intro,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="logo != null">
				#{logo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="intro != null">
				#{intro,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhjy.system.modules.bean.SysCommunityBean">
		update app_community
		<set>
			<if test="logo != null">
				logo = #{logo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="intro != null">
				intro = #{intro,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tangmo.zhjy.system.modules.bean.SysCommunityBean">
		update
		app_community
		set logo = #{logo,jdbcType=VARCHAR},
		name =
		#{name,jdbcType=VARCHAR},
		intro = #{intro,jdbcType=VARCHAR},
		longitude =
		#{longitude,jdbcType=VARCHAR},
		latitude = #{latitude,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		phone =
		#{phone,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		district =
		#{district,jdbcType=VARCHAR},
		is_show = #{isShow,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>