<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhjy.system.modules.dao.SysInformationMapper">
	<resultMap id="BaseResultMap"
		type="com.tangmo.zhjy.system.modules.bean.SysInformation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="publish_data" property="publishData"/>
		<result column="freeze" property="freeze" jdbcType="INTEGER" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="sys_userId" property="sysUserid" jdbcType="INTEGER" />
		<result column="app_userId" property="appUserid" jdbcType="INTEGER" />
		<result column="app_two_classifyId" property="twoClassifyId"
			jdbcType="INTEGER" />
		<result column="is_checked" property="isChecked" jdbcType="INTEGER"></result>
		<result column="create_time" property="createTime"></result>
		<collection property="sysUser"
			ofType="com.tangmo.zhjy.system.modules.bean.SysUserBean">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="username" property="username" jdbcType="VARCHAR" />
			<result column="password" property="password" jdbcType="VARCHAR" />
			<result column="freeze" property="freeze" jdbcType="INTEGER" />
			<result column="is_show" property="isShow" jdbcType="INTEGER" />
		</collection>
	</resultMap>

	<resultMap id="ResultMapWithBLOBs"
		type="com.tangmo.zhjy.system.modules.bean.SysInformation" extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, title, publish_data, freeze, is_show,
		sys_userId,app_two_classifyId,is_checked,create_time,app_userId
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from app_information
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 根据用户编号查找收藏文章 -->
	<select id="findByUserId" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">


		SELECT
		*
		FROM
		app_information
		WHERE
		id IN (
		SELECT
		informationId
		FROM
		app_collect
		WHERE
		user_id = #{userId}
		);
	</select>
	<select id="sysFindPage" resultMap="ResultMapWithBLOBs">
		select a.id,a.title,a.publish_data,"" as content,a.freeze,a.is_show,a.sys_userId,a.app_userId,
		a.app_two_classifyId,a.is_checked from
		app_information a where
		a.app_two_classifyId in (select id from app_two_classify where
		app_classifyId=#{classifyId} and is_show=0)
		and
		a.title like #{title,jdbcType=VARCHAR}
		<if test="sysUserId!=null">
			and a.sys_userId = #{sysUserId}
		</if>
        and is_checked = 1
		order by id desc
	</select>

	<select id="sysFindPageNameType" resultMap="ResultMapWithBLOBs">
		select a.id,a.title,a.publish_data,"" as content,a.freeze,a.is_show,a.sys_userId,a.app_userId,
		a.app_two_classifyId,a.is_checked from
		app_information a where a.is_checked = 1
		<if test="twoClassifyId!=null">
			and a.app_two_classifyId = #{twoClassifyId}
		</if>
		<if test="title!=null">
			and a.title like #{title,jdbcType=VARCHAR}
		</if>
		<if test="sysUserId!=null">
			and a.sys_userId = #{sysUserId}
		</if>
		order by a.id desc
	</select>


	<select id="appFindPage" resultMap="ResultMapWithBLOBs">
		SELECT
		a.id,a.title,a.publish_data,"" as content,a.freeze,a.is_show,a.sys_userId,
		a.app_two_classifyId,a.is_checked,b.sum
		FROM
		app_information a
		LEFT JOIN (
		SELECT
		a.id,
		count(b.app_info_id) sum
		FROM
		app_information a
		LEFT JOIN (
		SELECT
		app_info_id,
		app_userId
		FROM
		app_information_pageview
		) b ON a.id =
		b.app_info_id
		WHERE
		a.title LIKE #{title,jdbcType=VARCHAR}
		<if test="twoClassifyId!=null">
			AND a.app_two_classifyId =
			#{twoClassifyId,jdbcType=INTEGER}
		</if>
		AND is_checked = 2
		) b on a.id=b.id where a.title like
		#{title,jdbcType=VARCHAR}
		<if test="twoClassifyId!=null">
			AND a.app_two_classifyId =
			#{twoClassifyId,jdbcType=INTEGER}
		</if>
		and is_checked
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		app_information
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteByTwoClassifyId" parameterType="java.lang.Integer">
		delete from
		app_information
		where id in(
		select a.id from
			(select id from app_information where app_two_classifyId=#{twoClassifyId}) a
		)
	</delete>

	<insert id="insert" parameterType="com.tangmo.zhjy.system.modules.bean.SysInformation"
		useGeneratedKeys="true" keyProperty="id">
		insert into app_information (
		title, publish_data,
		freeze, sys_userId,app_two_classifyId,
		content,create_time,is_checked)
		values
		(#{title,jdbcType=VARCHAR},now(),
		#{freeze,jdbcType=INTEGER},
		#{sysUserid,jdbcType=INTEGER},
		#{twoClassifyId,jdbcType=INTEGER},
		#{content,jdbcType=LONGVARCHAR},now(),1
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tangmo.zhjy.system.modules.bean.SysInformation">
		insert into app_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="publishData != null">
				publish_data,
			</if>
			<if test="freeze != null">
				freeze,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
			<if test="sysUserid != null">
				sys_userId,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="publishData != null">
				now(),
			</if>
			<if test="freeze != null">
				#{freeze,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
			<if test="sysUserid != null">
				#{sysUserid,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhjy.system.modules.bean.SysInformation">
		update app_information
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="publishData != null">
				publish_data = #{publishData,jdbcType=DATE},
			</if>
			<if test="freeze != null">
				freeze = #{freeze,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=INTEGER},
			</if>
			<if test="sysUserid != null">
				sys_userId = #{sysUserid,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
			<if test="isChecked!=null">
				is_checked = #{isChecked,jdbcType=INTEGER},
			</if>
			<if test="twoClassifyId!=null">
				app_two_classifyId = #{twoClassifyId,jdbcType=INTEGER}
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tangmo.zhjy.system.modules.bean.SysInformation">
		update
		app_information
		set title = #{title,jdbcType=VARCHAR},
		publish_data =
		#{publishData,jdbcType=DATE},
		freeze = #{freeze,jdbcType=INTEGER},
		is_show = #{isShow,jdbcType=INTEGER},
		sys_userId =
		#{sysUserid,jdbcType=INTEGER},
		content =
		#{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tangmo.zhjy.system.modules.bean.SysInformation">
		update
		app_information
		set title = #{title,jdbcType=VARCHAR},
		publish_data =
		#{publishData,jdbcType=DATE},
		freeze = #{freeze,jdbcType=INTEGER},
		is_show = #{isShow,jdbcType=INTEGER},
		sys_userId =
		#{sysUserid,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 根据一级菜单查询文章 -->
	<select id="findClassifyId" resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM
		app_information
		WHERE
		app_two_classifyId IN (
		SELECT
		id
		FROM
		app_two_classify
		<if test="classifId!=null">
			<where>
				app_classifyId = #{classifId}
			</where>
		</if>
		)
		and title like #{title} order by id desc
	</select>
	<!-- 查询浏览记录 -->
	<select id="queryBrowsingHistory" resultMap="ResultMapWithBLOBs">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM
		app_information
		where
		id IN (
		SELECT
		app_informId
		FROM
		app_browsingHistory
		WHERE
		user_id = #{userId}
		)
	</select>

    <select id="getInfoCheckedList" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        FROM
        app_information WHERE title like #{title} AND is_checked = 0 AND is_show = 0 order by id desc
    </select>

    <update id="updInfoCheckedById">
        update app_information set is_checked = #{state} WHERE id = #{id}
    </update>

    <select id="getInfoCount"  resultType="java.lang.Integer">
        select count(*) from app_information where is_show = 0
        <if test="isChecked != null"> and is_checked = #{isChecked}</if>
    </select>

    <select id="getInfoByClassifyId"  resultType="java.lang.Integer">
        select sum(a.visit_count) from app_information a where a.is_checked = 1
        <if test="classifyId != null">
        and a.app_two_classifyId in (select id from app_two_classify where
        app_classifyId=#{classifyId} and is_show=0)
        </if>
    </select>
</mapper>