<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.zhjy.system.modules.dao.SysRoleBeanMapper">
	<resultMap id="BaseResultMap" type="com.tangmo.zhjy.system.modules.bean.SysRoleBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="freeze" property="freeze" jdbcType="INTEGER" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,name,freeze,is_show
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_role
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 根据角色ID批量查询 -->
	<select id="batchRole" resultType="java.lang.Integer">
		select
		count(id)
		from sys_role
		where id in 
		<foreach collection="list" item="roleId" open="(" separator="," close=");">
		 	#{roleId,jdbcType=INTEGER}
		</foreach>
	</select>
	<select id="selectByName" resultMap="BaseResultMap">
		select
		*
		from sys_role
		where
		name = #{name,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		sys_role
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.tangmo.zhjy.system.modules.bean.SysRoleBean">
		insert into sys_role (id,
		name, freeze,
		is_show)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{freeze,jdbcType=INTEGER},
		#{isShow,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.tangmo.zhjy.system.modules.bean.SysRoleBean">
		insert into sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="freeze != null">
				freeze,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="freeze != null">
				#{freeze,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tangmo.zhjy.system.modules.bean.SysRoleBean">
		update sys_role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="freeze != null">
				freeze = #{freeze,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tangmo.zhjy.system.modules.bean.SysRoleBean">
		update sys_role
		set name = #{name,jdbcType=VARCHAR},
		freeze =
		#{freeze,jdbcType=INTEGER},
		is_show = #{isShow,jdbcType=INTEGER}
		where
		id = #{id,jdbcType=INTEGER}
	</update>
	<select id="findByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<where>
			1=1
			<if test="name!=null">
				and name like #{name,jdbcType=VARCHAR}
			</if>
			and name !='ROLE_admin'
		</where>
		order by id desc
	</select>
	<!-- 根据用户ID查询关联角色 -->
	<select id="findByRelevanceRole" resultMap="BaseResultMap">
		SELECT
		b.id,b.name
		FROM
		sys_role_user a
		LEFT JOIN sys_role b ON a.sys_role_id = b.id
		WHERE
		a.sys_user_id =(select id from sys_user where username=#{username,jdbcType=VARCHAR}) and b.freeze!=1 and
		b.is_show!=1;
	</select>
</mapper>